<app-navbar></app-navbar>
<div class="row w-auto" style="background-color: var(--bg_main);">
  <div class="d-flex justify-content-between">
    <div class="container rounded bg-white " style="zoom:95%;">
      <form class="row" [formGroup]="showAllUsers">

        <div class="col-md-5 border-right"
             style="direction: rtl;margin-right: 100px;margin-left: 150px;margin-top:60px">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h2 class="text-right">بيانات المستخدم</h2>
            </div>
            <div class="row mt-2">
              <div class="col-md-6"><label class="labels">الاسم الاول</label>
                <input type="text" class="form-control" readonly
                       placeholder="الأسم الأول" value="" formControlName="firstName">
              </div>
              <div class="col-md-6"><label class="labels">الاسم الثاني</label>
                <input type="text" class="form-control" readonly
                       value=""
                       placeholder="الأسم الثاني" formControlName="lastName">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12"><label class="labels">اسم المستخدم</label>
                <input type="text" class="form-control" readonly
                       placeholder="اسم المستخدم" formControlName="username">
              </div>

            </div>
            <div class="row mt-3">
              <div class="col-md-12"><label class="labels">رقم الموبايل</label>
                <input type="text" class="form-control" readonly formControlName="phone"></div>
              <div class="col-md-12"><label class="labels">الصلاحية</label>
                <input type="text" class="form-control" readonly formControlName="roles"></div>

            </div>

            <div class="text-center row mt-4">
              <div class="col-md-6" *ngIf="isActive==1;else notactive">
                <button class="btn  profile-button" (click)="unActivateUser(username)" type="button">
                  الغاء تفعيل
                </button>
              </div>
              <ng-template #notactive>
                <button class="btn  profile-button" (click)="activatedUser(username)" type="button" >
                  تفعيل
                </button>
              </ng-template>
              <button class="btn  profile-button" type="submit" routerLink="/changepasswordbyadmin/{{page}}">تغيير
                الرقم
                السري
              </button>
            </div>
            <div class="col-md-5 pag" style="margin-top:30px;bottom:0px;margin-right:30%;direction: ltr">
              <ngb-pagination [(page)]="page" [pageSize]="size" [collectionSize]="pageLength"
                              (pageChange)="change($event)"
                              [maxSize]="1" [boundaryLinks]="true" [ellipses]="false" [rotate]="false"
                              routerLink="/userpagination/{{page}}">
              </ngb-pagination>

            </div>
          </div>
        </div>
        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"
               style="margin-top: 20px">
            <img class="rounded-circle mt-5"
                 style="height:200px;width:200px; margin-left: 15px; border-radius:100%;margin-top:50px"
                 src={{img}}>
          </div>
        </div>
      </form>
    </div>
    <div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
