* {
  margin: 0;
  padding: 0;
}
form{
  position: relative;
  align-items: center;
  justify-content: center;
}
.wrapper{
  width: 75%;
  padding:40px;
  margin:40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: 600px!important;
}
.wrapper .input-data{
  height: 30px;
  width: 100%;
  position: relative;
  margin: 25px 0;
}


.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 18px;
  border-bottom: 2px solid silver;
  direction: rtl;
}
.wrapper .input-data textarea{
  border: none;
  font-size: 18px;
  border-bottom: 2px solid silver;
}
.input-data input:focus,
.input-data textarea:focus{
  outline: none;
  border: none;
}
/*.input-data input:focus ~ label,*/
/*.input-data input:valid ~ label,*/
/*.input-data textarea:focus ~ label,*/
/*.input-data textarea:valid ~ label{*/
/*  transform: translateY(-15px);*/
/*  font-size: 15px;*/
/*  color: #333333;*/

/*}*/
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  right: 7%;
  color: rgb(128, 128, 128);
  pointer-events: none;
  transition: .3s ease;
  text-align: center;
  font-size:15px;
  margin-bottom: 15px;
}
.wrapper .input-data .underLine{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.wrapper .input-data .underLine::before,
.wrapper .input-data .underLine-text::before
{
  position: absolute;
  content:"";
  height: 2px;
  width: 100%;
  background: #333333;
  transform: scaleX(0);
  transition: all .3s ease-in-out;
}
.wrapper .input-data .underLine-text::before{
  bottom: -123px;
}
.input-data input:focus ~ .underLine::before,
.input-data input:valid ~ .underLine::before,
.input-data textarea:focus ~ .underLine-text::before,
.input-data textarea:valid ~ .underLine-text::before{
  transform: scaleX(1);
  background: #333333;

}
.input-container{
  width: 45%;
}
.scrollable-area {
  height:400px; /* define a fixed height to limit the scrollable area */
  overflow-y: scroll; /* enable vertical scrolling */
  /* Add any other styling as needed */
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  overflow-y: scroll;
}

::-webkit-scrollbar:hover {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}
.subjects{
  margin: 0!important;
}
