* {
  margin: 0;
  padding: 0;
}

.box {
  margin: 10px;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  transition: 0.5s;
}

.box .data p {
  width: 100%;
  padding-top: 5px;
  padding-left: 100px;
  font-size: 16px;
  background-color: var(--bg);
  color: var(--color);
}

a {
  text-decoration: none;
  padding: 5px 2px;
  font-size: 14px;
  color: var(--color);
  font-weight: bold
}

.box .data span {
  font-size: 16px;
  padding: 5% 0;
  margin-left: 50%;
  color: var(--color);
}

.box .data p {
  font-size: 25px;
  padding: 5px 0;
  background-color: var(--bg);
  color: var(--color);
  position: sticky;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color);
  font-weight: bold
}

h2 {
  font-size: 22px;
  padding: 10px 0;
  background-color: var(--bg);
  color: var(--color);
  position: sticky;
  top: 0;
  width: 100%;
}

table {
  width: 100%;
  direction: rtl;
}

thead {
  position: sticky;
  top: 44px;
  background-color: var(--bg_hover);
  color: var(--color);
  margin: 10%;
}

tbody {
  background-color: var(--bg);
  color: var(--color);
}

button {
  padding: 5px;
  margin-right: 650px;
  margin-top: 10px;
  color: var(--color);
  background: var(--btn_bg);
  width: 100px
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar:hover {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}