<app-navbar></app-navbar>
<div class="row">
  <div class="col-2" style="background-color: var(--bg_main);"></div>
  <div class="col-8" style="background-color:var(--bg_main)">
    <form class="col-8">
        <div class="wrapper " style="direction: ltr;">
            <legend class="text-center">تعديل ملف الارشيف</legend>


            <div class="input-data" style="width:30%; margin-left:auto;">
                <input type="text" required >
                <label >اسم الملف</label>
              </div>

              <button type="submit" class="btn w-25" style="background-color: var(--bg_main);">save</button>
        </div>
    </form>
  </div>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>



