<app-navbar></app-navbar>
<div class="row">


  <div class="col-10 position-relative"
       style=" zoom: 71%; background-color: #fff; text-align: center; overflow: auto; height:785px; border-radius: 8px;">

    <div class="row">

      <h2
        style="font-size: 20px; padding: 10px 0; background-color: #fff; color:black;; position: sticky; top: 0; width: 100%;font-weight: bold">
        عرض المستخدمين </h2>

      <table class="table" style="direction: rtl">
        <thead style=" position: sticky; top: 40px; background-color: #fff;">
        <tr>
          <th scope="col">الاسم الاول</th>
          <th scope="col">الاسم الثاني</th>
          <th scope="col">اسم المستخدم</th>
          <th scope="col">صلاحيات</th>
          <th scope="col">تغيير الرقم السري</th>
          <th scope="col">النشاط</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of showUsers ">
           <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.roles }}</td>
          <td>
            <a routerLink="/changepasswordbyadmin/{{item.id}}">
            <button  type="submit" class="btn btn-outline-dark"
                     style="width:150px;color: #333333;background:white;font-size:20px;margin-top:10px;margin-right: 10px;font-weight: bold ">             تغيير الرقم السري
            </button>
            </a>
          </td>

          <td *ngIf="item.isActive==1;else notactive">
            <button (click)="unActivateUser(item.username)" type="button" class="btn btn-outline-dark "
                    style="width:100px;color: #333333;background-color:white;font-size:20px;margin-top:10px;margin-right: 10px;font-weight: bold ">         الغاء تفعيل
            </button>
          </td>
          <ng-template #notactive>
            <button (click)="activatedUser(item.username)" type="button" class="btn btn-outline-dark"
                    style="width:100px;height:40px;color:#333333;background-color:white;font-size:20px;margin-top:10px;margin-right:25px;padding-bottom:35px;font-weight: bold "> تفعيل
            </button>



          </ng-template>


          <td *ngIf="item.isActive;else notActive">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill"
                 viewBox="0 0 16 16">
              <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
            </svg>
          </td>
          <ng-template #notActive>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-bell-slash-fill" viewBox="0 0 16 16">
              <path
                d="M5.164 14H15c-1.5-1-2-5.902-2-7q0-.396-.06-.776zm6.288-10.617A5 5 0 0 0 8.995 2.1a1 1 0 1 0-1.99 0A5 5 0 0 0 3 7c0 .898-.335 4.342-1.278 6.113zM10 15a2 2 0 1 1-4 0zm-9.375.625a.53.53 0 0 0 .75.75l14.75-14.75a.53.53 0 0 0-.75-.75z"/>
            </svg>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>


