<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>
<div class="row">
  <app-image-slider class="col-4"></app-image-slider>
        <form class="col-6" style="zoom: 70%;direction: ltr"  [formGroup]="editExport" (ngSubmit)="update()" >

    <div class="wrapper">
            <legend class="text-center"> {{x}} تعديل خطاب صادر رقم </legend>

      <div style="display: flex;  justify-content: space-between;">
        <div class="input-container ">

          <div class="input-data">
            <input type="Date" id="date" formControlName="date">
            <label for="date">تاريخ الصادر</label>
          </div>
          <div class="input-data" style="top:32px">
            <input type="text"  id="receiver" formControlName="receiver">
            <label for="receiver">الجهة الصادر اليها الخطاب</label>
          </div>
        </div>
        <div class="input-container">
          <div class="d-flex">
            <div class="input-data" style="width: 65%">
              <input type="number" id="numberOfAttachments" formControlName="numberOfAttachments">
              <label for="numberOfAttachments">عدد المرفقات</label>
            </div>
            <div class="input-data " style="width:30%; margin-left:auto;">
              <input type="number"   id="num" formControlName="num">
               <label for="num">رقم الملف</label>
            </div>
          </div>
          <div class="input-data">
            <input type="text"  id="recipientName" formControlName="recipientName">
            <label for="recipientName">المستلم</label>
          </div>
        </div>
      </div>
      <div class="input-data">
        <input cols="40" rows="1" style="height:60px" id="summary" formControlName="summary">
        <label for="summary">ملخص الخطاب</label>
      </div>

      <div class="mt-5" style="display: flex;  justify-content: space-between;">
        <div style="display: flex;">
          <div class="input-data" style="width:65%">
            <input type="Date"  id="urgentDate" formControlName="urgentDate">
            <label for="urgentDate">تاريخ الاستعجال</label>
          </div>
          <div class="input-data" style="width:30%; margin-left:10px;">
            <input type="number" id="urgentNum" formControlName="urgentNum">
            <label for="urgentNum">رقم الاستعجال</label>
          </div>
        </div>
        <div style="display: flex;">
          <div class="input-data w-50">
            <input type="Date"     id="responseDate" formControlName="responseDate">
            <label for="responseDate">تاريخ الرد</label>
          </div>
          <div class="input-data" style="width:35%; margin-left:auto;">
            <input type="text"  id="responseNumber" formControlName="responseNumber">
            <label for="responseNumber">الرد</label>
          </div>
        </div>
      </div>
      <div class="input-data"style="bottom: 55px; ">
        <button type="submit"  class="btn btn-success w-50"  style="padding:10px; bottom:80px;margin-top: 50px;margin-left:25%">   حفظ  </button>
      </div>
     </div>
  </form>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>


