<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>
<div class="row">
  <ngb-carousel class="col-4">
    <ng-template ngbSlide *ngFor="let item of paths;let i=index">
      <div class="carousel-wrapper" style="margin-top: 20px;margin-left: 20px">
        <img src="{{item}}" style="height:87vh">
        <a (click)="deleteImage(i)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color: red">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
          </svg>
        </a>
      </div>
    </ng-template>
  </ngb-carousel>
  <form class="col-6" style="zoom: 55%;direction: ltr" [formGroup]="editExport" (ngSubmit)="update()">

    <div class="wrapper">
      <legend class="text-center" style="font-weight: bold;font-size: 30px"> {{ x }}  تعديل خطاب صادر رقم</legend>

      <div style="display: flex;  justify-content: space-between;">
        <div class="input-container ">

          <div class="input-data">
            <input type="Date" id="date" formControlName="date">
            <label for="date">تاريخ الصادر</label>
          </div>
          <div class="input-data" style="top:32px">
            <input type="text" id="receiver" formControlName="receiver">
            <label for="receiver">الجهة الصادر اليها الخطاب</label>
          </div>
        </div>
        <div class="input-container">
          <div class="d-flex">
            <div class="input-data" style="width: 65%">
              <input type="number"   id="numberOfAttachments" formControlName="numberOfAttachments">
              <label for="numberOfAttachments">عدد المرفقات</label>
            </div>
            <div class="input-data " style="width:30%; margin-left:auto;">
              <input type="number" readonly id="id" formControlName="id">
              <label for="id">رقم الخطاب</label>
            </div>
          </div>
          <div class="d-flex">
            <div class="input-data" style="width: 65%">
              <input type="text" required id="recipientName" formControlName="recipientName">
              <label for="recipientName">المستلم</label>
            </div>
            <div class="input-data " style="width:30%; margin-left:auto;">
              <input type="text" required id="num" formControlName="num">
              <label for="num">رقم الملف</label>
            </div>
          </div>
        </div>
      </div>
      <div class="input-data">
        <input cols="40" rows="1" style="height:60px" id="summary" formControlName="summary">
        <label for="summary">ملخص الخطاب</label>
      </div>

      <div class="mt-5" style="display: flex;  justify-content: space-between;">
        <div style="display: flex;">
          <div class="input-data" style="width:65%">
            <input type="Date" readonly id="urgentDate" formControlName="urgentDate">
            <label for="urgentDate">تاريخ الاستعجال</label>
          </div>
          <div class="input-data" style="width:30%; margin-left:10px;">
            <input type="number" readonly id="urgentNum" formControlName="urgentNum">
            <label for="urgentNum">رقم الاستعجال</label>
          </div>
        </div>
        <div style="display: flex;">
          <div class="input-data w-50">
            <input type="Date" readonly id="responseDate" formControlName="responseDate">
            <label for="responseDate">تاريخ الرد</label>
          </div>
          <div class="input-data" style="width:35%; margin-left:auto;">
            <input type="text" readonly id="responseNumber" formControlName="responseNumber">
            <label for="responseNumber">الرد</label>
          </div>
        </div>
      </div>


      <div class="input-data" style="bottom:40px; ">
        <button type="submit" class="btn  "
                style="width:150px; padding:5px;color: white;background: #333333;font-size:22px;margin-left:42%"
        > حفظ
        </button>
      </div>

    </div>
  </form>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>


