img {
  margin-top: 20px
}

.card-container {
  height: 65%;
  width: 60%;
  display: flex;
  box-shadow: -2px 1px 13px 2px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
form{
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-header h3 {
  color: var(--color);
}

.login_btn {
  color: #fff;
  background-color: #143e81;
  width: 100px;
}

.links {
  color: var(--color);

}

.links a {
  margin-left: 4px;
}

small {
  color: red;
  font-size: large;
}

.archive {
  position: relative;
  text-align: center;
  width: 50%;
  background: rgba(15, 63, 120, 1);
  border-radius: 0 20px 20px 0;
  background: linear-gradient(270deg, #535388, #050251);
}

.archive legend {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .card {
    width: 90%;
    margin: 50% 20px;
  }
}