<app-navbar></app-navbar>
<div class="row w-auto" style="background-color: var(--bg_main);">
  <div class="d-flex justify-content-between">
    <div class="dashboard w-100" style=" height: 93vh">
      <div class="row" style="margin-left:35px">
        <div class="col-md-1" style="margin-right: 45px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/file-not-come">
                  لم يأت
                  موعدها </a>
              </p>
              <span>{{ NumberOfFileNotCome }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="margin-right: 45px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/file-had-gone">
                  ذهب
                  موعدها </a>
              </p>
              <span> {{ NumberOfFileHadGone }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="margin-right: 45px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/important-letter">
                  الخطابات
                  الهامة</a>
              </p>
              <span> {{ NumberOfImportantLetter }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-1" style="margin-right: 45px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/signs">
                  الاشارات </a>
              </p>
              <span> {{ NumberOfAllSigns }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="margin-right: 45px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/dean-decisions">
                  قرارات العميدة </a>
              </p>
              <span> {{ NumberOfAllDeanDecisions }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-1" style="margin-right: 45px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/special-file">
                  ملفات الحفظ</a>
              </p>
              <span> {{ numberOfAllSpecial }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="margin-right: 45px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/get-all-imports">
                  الخطابات الواردة</a>
              </p>
              <span> {{ NumberOfAllImports }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-1" style="margin-right: 45px!important;">

          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/get-all-exports">الخطابات الصادرة</a>
              </p>
              <span> {{ NumberOfAllExports }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-left:30px;">
        <div class="col-5 mx-1 mt-1"
             style="background-color: #fff; height: 250px;  border-radius: 8px; zoom:95%;width:400px ">
          <div
            style="background-color: #fff; overflow: auto; height: 250px; text-align:center;  border-radius: 8px;">
            <h2
              style="font-size: 22px; padding: 10px 0; background-color: #fff; color: #3333338f; position: sticky; top: 0;">
              <a style=" text-decoration:none;color: black;font-weight: bold;font-size: 20px"
                 routerLink="/file-has-gone">
                <label
                  style="font-size: 20px;font-weight: lighter;color: red">
                  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" media="all">
                  <div class="wrapper" *ngIf="NumberOfFileHasGone>0">
                    <div class="bell" id="bell-1" style="font-size: 10px">
                      <label style="font-size:15px">{{ NumberOfFileHasGone }}</label>
                      <div class="anchor material-icons layer-1">notifications_active</div>
                    </div>

                  </div>
                </label> خطابات حان موعدها
              </a>
            </h2>
            <!--            [{{ NumberOfFileHasGone }}]-->
            <table class="table" style="direction: rtl">
              <thead style=" position: sticky; background-color: #fff;">
              <tr>
                <th scope="col">رقم الخطاب</th>
                <th scope="col">ملخص الخطاب</th>
                <th scope="col">التاريخ المتوقع للرد</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of showLetterHasGone">
                <td>{{ item.no }}</td>
                <td>{{ item.summary }}</td>
                <td>{{ item.expectResponseDate }}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

        <div class="col-6 mt-1 mx-1"
             style="background-color: #fff; height:250px; overflow: auto; border-radius: 8px; zoom:95%;width:745px;margin-left:30px!important;">
          <div
            style="background-color: #fff; overflow: auto; height: 250px; border-radius: 8px;">
            <h2
              style="font-size: 22px; padding: 5px 0; background-color: #fff; color: #3333338f; position: sticky; top: 0; width: 100%;">

              <a>
                <button type="button" class="btn btn w-10"
                        style="padding:5px;font-weight:bold;margin-left:10px;margin-right:560px;margin-top:10px;color:var(--color);background: var(--bg_main);width:70px"
                        routerLink="/add-import-file">
                  اضافة
                </button>
              </a>

              <a style=" text-decoration:none;color: black;font-weight: bold;font-size: 20px"
                 routerLink="/today-imports">وارد لم يسلم</a>
            </h2>

            <table class="table" style="direction: rtl">
              <thead style=" position: sticky; top: 44px; background-color: #fff;">
              <tr>
                <th scope="col">رقم الخطاب</th>
                <th scope="col">الجهة الوارد منها الخطاب</th>
                <th scope="col">ملخص الخطاب</th>
                <th scope="col">المستلم</th>


              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of showAllTodayImports">
                <td>{{ item.no }}</td>
                <td>{{ item.sender }}</td>
                <td>{{ item.summary }}</td>
                <td>{{ item.recipientName }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row" style="margin-left:30px;margin-top: 10px">
        <div class="mx-1 mt-1"
             style="background-color: #fff; height: 250px; overflow: auto; border-radius: 8px; zoom:95%;width:400px ">
          <h2
            style="font-size: 22px;  background-color: #fff; color: #3333338f;padding-top:20px">
            <select class="px-2 mx-4" [(ngModel)]="selectedYear" (change)="getNumberOfLetterForYears()">
              <option selected="selected">أختار السنة</option>
              <option *ngFor="let year of years">{{ year }}</option>
            </select>
            <a style=" text-decoration:none;color: black;font-weight: bolder;margin-top: 30px;font-size: 20px"> عدد
              الخطابات لعام
            </a></h2>
          <hr>
          <div class="container" style="margin-top: 5px">
            <div class="input-data"
                 style="font-size: 22px;  background-color: #fff; color: #3333338f; top:15px;  ">
                  <span style=" text-decoration:none;color: black;font-weight: bold">
                    <label type="number"
                           style="margin-top:15px; margin-right: 15px">{{ numberOfExportLetterForSpecificYear }} </label>: عدد
                   الخطابات الصادرة </span>
            </div>

            <div class="input-data"
                 style="font-size: 22px;  background-color: #fff; color: #3333338f; top:15px;  ">
                  <span style=" text-decoration:none;color: black;font-weight: bold">
                    <label type="number"
                           style="margin-top:15px;margin-right: 15px">{{ numberOfImportLetterForSpecificYear }}</label>: عدد
                    الخطابات الواردة </span></div>

            <div class="input-data"
                 style="font-size: 22px;  background-color: #fff; color: #3333338f; top:15px;  ">
                  <span style=" text-decoration:none;color: black;font-weight: bold">
                    <label type="number"
                           style="margin-top:15px;margin-right: 15px">{{ numberOfSpecialLetterForSpecificYear }}</label>: عدد
                    الخطابات الخاصة </span></div>
          </div>
          <hr style="margin-top: 10px">
          <div class="input-data"
               style="font-size: 22px;  background-color: #fff; color: #3333338f; top:15px;  ">
               <span
                 style="margin-bottom:20px!important; width:100px; margin-right: 15%; font-weight: bold; font-size: 22px;">{{ numberOfImportLetterForSpecificYear + numberOfExportLetterForSpecificYear + numberOfSpecialLetterForSpecificYear }}
                 <label type="number"
                        style="margin-top:35px; margin-right: 15px"> </label>: اجمالي
                    عدد الخطابات </span>
          </div>

        </div>

        <div class=" mt-1"
             style="background-color: #fff; height:250px; overflow: auto; border-radius: 8px; zoom:95%;width:745px;margin-left:30px">
          <div
            style="background-color: #fff; overflow: auto; height: 250px; border-radius: 8px;">
            <h2
              style="font-size: 22px; padding: 5px 0; background-color: #fff; color: #3333338f; position: sticky; top: 0; width: 100%;">

              <a>
                <button type="button" class="btn btn w-10"
                        style="padding:5px;font-weight:bold;margin-left:10px;margin-right:560px;margin-top:10px;color:var(--color);background: var(--bg_main);width:70px"
                        routerLink="/add-export-file">

                  اضافة
                </button>
              </a>

              <a style=" text-decoration:none;color: black;font-weight: bold;font-size: 20px"
                 routerLink="/today-exports">صادر اليوم</a>
            </h2>

            <table class="table" style="direction: rtl">
              <thead style=" position: sticky; top: 44px; background-color: #fff;">
              <tr>
                <th scope="col">رقم الخطاب</th>
                <th scope="col">الجهة الصادر منها الخطاب</th>
                <th scope="col">ملخص الخطاب</th>
                <th scope="col">المستلم</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of showAllTodayExports">
                <td>{{ item.no }}</td>
                <td>{{ item.receiver }}</td>
                <td>{{ item.summary }}</td>
                <td>{{ item.recipientName }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
