<app-navbar style="position: fixed; width: 100%; top: 0; z-index: 1000;"></app-navbar>

<div style="background-color: var(--bg); padding-top: 60px; direction: rtl;">
  <div class="d-flex justify-content-between">

    <div [class.hidden]="isScrolled"
         style="position: fixed; top: 80px; right: 270px; z-index: 1000; width: calc(100% - 270px); max-width: 220px;">
      <button class="btn btn-primary" routerLink="/add-task" style="width: 80%;">إضافة مهمة </button>
    </div>

    <div class="container mt-5" style="flex: 1; margin-right: 220px;">
      <div class="task-card mt-5" *ngFor="let task of tasks" [ngClass]="{'notified-task': task.notify}">
        <h3>{{ task.subject }}</h3>
        <p class="task-date">{{ task.date }}</p>
        <p class="task-content">{{ task.content }}</p>
        <button class="btn btn-success btn-sm" routerLink="/update-task/{{task.id}}">تعديل</button>
        <button class="btn btn-danger btn-sm" (click)="delete(task.id)">حذف</button>
      </div>
    </div>

    <div style="position: fixed; top: 60px; right: 0; width: 250px;">
      <app-sidebar></app-sidebar>
    </div>

  </div>
</div>

