<app-navbar></app-navbar>

<div class="row">
  <div class="d-flex justify-content-between">
    <div class="w-100"
         style=" zoom: 80%; background-color: var(--bg); text-align: center; overflow: auto;height:733px; border-radius: 8px;">
      <div class="row">
        <div class="d-flex"
             style="font-size: 20px; padding: 10px 0;margin-left:40%; background-color: var(--bg); color: var(--color); position: sticky; top: 0; width: 50%;font-weight: bold">
          <app-search (searchTextChange)=onsearchTextEntered($event) style=""></app-search>
          <div class="input-data ">
            <h2
              style="font-size: 20px; padding: 10px 0; background-color: var(--bg); color: var(--color); position: sticky; top: 0; width: 100%;font-weight: bold">
              خطابات اليوم الصادرة الي مكتب العميد</h2></div>
        </div>

        <table>
          <thead>
          <tr>
            <th scope="col">رقم الخطاب</th>
            <th scope="col">تاريخ الصادر</th>
            <th scope="col">عدد المرفقات</th>
            <th scope="col">الجهة الصادر اليها</th>
            <th scope="col">ملخص الخطاب</th>
            <th scope="col">المستلم</th>
            <th scope="col"> رقم الاستعجال</th>
            <th scope="col">تاريخ الاستعجال</th>
            <th scope="col"> رقم الرد</th>
            <th scope="col"> تاريخ الرد</th>
            <th scope="col"> حفظ</th>
            <th scope="col">رقم الملف</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of showTodayExport | search:searchText">
            <td>{{ item.no }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.numberOfAttachments }} | <span style="color: red">{{ item.numberOfImages }}</span></td>
            <td>{{ item.receiver }}</td>
            <td>{{ item.summary }}</td>
            <td>{{ item.recipientName }}</td>
            <td><a style="color: black;text-decoration: black" routerLink="/export-pagination?page=/{{ item.urgentNum }}">{{ item.urgentNum }}</a></td>
            <td>{{ item.urgentDate }}</td>
            <td><a style="color: black;text-decoration: black" routerLink="/import-pagination?page=/{{ item.responseNumber }}">{{ item.responseNumber }}</a></td>
            <td>{{ item.responseDate }}</td>
            <td ><a *ngIf="item.saved!=0" style="color: black;text-decoration: black" routerLink = "/special_pagination?page=/{{item.saved}}">{{ item.saved }}</a></td>
            <td>{{ item.typeNumber }}/{{ item.num }}</td>
            <td>
              <a [routerLink]="['/export-pagination']" [queryParams]="{page:item.no}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-box-arrow-left" viewBox="0 0 16 16" style="color:var(--color)">
                  <path fill-rule="evenodd"
                        d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                  <path fill-rule="evenodd"
                        d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                </svg>
              </a></td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
    <div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>

