<app-navbar></app-navbar>
<div class="row w-auto" style="background-color: var(--bg_main);">
  <div class="d-flex justify-content-between">
    <div class="dashboard w-100" style=" height: 93vh">
      <div class="row" style="margin-left:2%">
        <div class="col-md-2" style="margin-right:40px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/special-mandate">الإنتدبات الاستثنائية</a>
              </p>
              <span> {{ numberOfSpecialMandate }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-2" style="margin-right:40px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/current-mandate">الإنتدبات الحالية</a>
              </p>
              <span> {{ numberOfCurrentMandate }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-2" style="margin-right:40px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/all-refused-mandate">
                  المرفوضة</a>
              </p>
              <span> {{ numberOfAllRefusedMandate }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-2" style="margin-right:40px!important;">
          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/all-accept-mandate">
                  الموافق عليها</a>
              </p>
              <span> {{ numberOfAllAcceptsMandate }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-2" >

          <div class="box">
            <div class="data">
              <p>
                <a routerLink="/all-mandate">الإنتدبات</a>
              </p>
              <span> {{ numberOfAllMandate }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-left:30px;">
        <div class="col-5 mx-1 mt-1"
             style="background-color: #fff; height: 250px;  border-radius: 8px; zoom:95%;width:400px ">
          <div
            style="background-color: #fff; overflow: auto; height: 250px; text-align:center;  border-radius: 8px;">
            <h2
              style="font-size: 22px; padding: 10px 0; background-color: #fff; color: #3333338f; position: sticky; top: 0;">
              <a style=" text-decoration:none;color: black;font-weight: bold;font-size: 20px"
                 routerLink="/file-has-gone">
                <label
                  style="font-size: 20px;font-weight: lighter;color: red">
                  <div class="wrapper" >
                    <label style="font-size:15px"></label>
                  </div>
                </label> أيام الإنتدبات
              </a>
            </h2>
            <table class="table" style="direction: rtl">
              <thead style=" position: sticky; background-color: #fff;">
              <tr>
                <th scope="col">اسم الدكتور</th>
                <th scope="col">أيام الانتدبات</th>
                <th scope="col"> اجمالي عدد الأيام</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of allDaysOfMandate">
                <td>{{ item.name }}</td>
                <td><label *ngFor="let days of item.deputationDays"
                style="margin-left: 10px">{{ days.day }} </label></td>
                <td>{{item.count}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

        <div class="col-6 mt-1 mx-1"
             style="background-color: #fff; height:250px; overflow: auto; border-radius: 8px; zoom:95%;width:745px;margin-left:30px!important;">
          <div
            style="background-color: #fff; overflow: auto; height: 250px; border-radius: 8px;">
            <h2
              style="font-size: 22px; padding: 5px 0; background-color: #fff; color: #3333338f; position: sticky; top: 0; width: 100%;">

              <a>
                <button type="button" class="btn btn w-10"
                        style="padding:5px;font-weight:bold;margin-left:10px;margin-right:560px;margin-top:10px;color:var(--color);background: var(--bg_main);width:70px"
                        routerLink="/add-mandate">

                  اضافة
                </button>
              </a>

              <a style=" text-decoration:none;color: black;font-weight: bold;font-size: 20px"
               >منتدبين اليوم</a>
            </h2>
            <table class="table" style="direction: rtl">
              <thead style=" position: sticky; top: 44px; background-color: #fff;">
              <tr>
                <th>المسلسل</th>
                <th scope="col">اسم الدكتور</th>
                <th scope="col">الجامعة المنتدب إليها</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of showAllTodayMandate">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.deputationUniversity }}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="row" style="margin-left:35%;margin-top: 10px">

        <div class=" mt-1"
             style="background-color: #fff; height:250px; overflow: auto; border-radius: 8px; zoom:95%;width:745px;margin-left:30px">
          <div
            style="background-color: #fff; overflow: auto; height: 250px; border-radius: 8px;">

            <h2
              style="font-size: 22px; padding: 5px 0; background-color: #fff; color: #3333338f; position: sticky; top: 0; width: 100%;">

              <a>
                <button type="button" class="btn btn w-10"
                        style="padding:5px;font-weight:bold;margin-left:10px;margin-right:350px;margin-top:10px;color:var(--color);background: var(--bg_main);width:70px"
                        routerLink="/add-mandate">
                  اضافة
                </button>
              </a>

              <a style=" text-decoration:none;color: black;font-weight: bold;font-size: 20px"
                 >الدكاترة الموجودة فعليا في الكلية اليوم</a>
            </h2>
            <table class="table" style="direction: rtl">
              <thead style=" position: sticky; top: 44px; background-color: #fff;">
              <tr>
                <th scope="col">المسلسل</th>
                <th scope="col">اسم الدكتور</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of showAllTodayDoctors">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
    <div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>

