<app-navbar></app-navbar>
<div class="row">
  <div class="col-2" style="background-color: var(--bg_main);"></div>
  <div class="col-8" style="background-color:var(--bg_main)">
      <form class="col-8" style="zoom: 70%" [formGroup]="exportForm" (ngSubmit)="onSubmit()">

      <div class="wrapper " style="direction: ltr;">
        <legend class="text-center">ادخال الصادر</legend>

        <div class="input-data" style="width:20%; margin-left:auto;">
          <input type="number" readonly id="no" name="no">
          <label for="no" style="margin-right: 85%;color: black;margin-bottom:-5px"
                 readonly>{{ numberOfExportFile }}</label>
           <label for="no" style="color: black">رقم القيد</label>
        </div>
        <div class="d-flex">
          <div class="input-data" style="width:30%; margin-left:auto;">
            <input type="text" required id="receiver" name="receiver" formControlName="receiver">
            <label for="receiver">الجهة الصادر اليها الخطاب</label>
            <small *ngIf="exportForm.get('receiver')?.invalid">* مطلوب</small>
          </div>

          <div class="input-data" style="width:30%; margin-left:auto;">
            <input type="text"  id="numberOfAttachments" name="numberOfAttachments"
                   formControlName="numberOfAttachments">
            <label for="numberOfAttachments">عدد المرفقات</label>
            <small *ngIf="exportForm.get('numberOfAttachments')?.invalid">* مطلوب</small>

          </div>
          <div class="input-data" style="width:30%; margin-left:auto;">
            <input type="date" required id="date" name="date" formControlName="date">
             <label for="date">تاريخ الصادر</label>
            <small *ngIf="exportForm.get('date')?.invalid">* مطلوب</small>
          </div>
        </div>
        <div class="input-data" style="width:96%; margin-left: auto;">
          <input cols="40" rows="1"  required id="summary" name="summary" formControlName="summary">
           <label for="summary">ملخص الخطاب</label>
          <small *ngIf="exportForm.get('summary')?.invalid">* مطلوب</small>

        </div>
        <div class="d-flex">
          <div class="input-data" style="width:40%; margin:auto;">
          <input type="text" required id="num" name="num"  formControlName="num">
           <label for="num">ملف الحفظ</label>
          <small *ngIf="exportForm.get('num')?.invalid">* مطلوب</small>

        </div>
          <div class="input-data" style="width:45%; margin-left:auto;">
            <input type="text" id="recipientName" name="recipientName" formControlName="recipientName">
            <label for="recipientName">المستلم</label>
          </div>
        </div>

        <button type="submit" class="btn  " [disabled]="!exportForm.valid"
                style="width:100px; padding:1px;color: white;background: #333333;font-size:22px;margin-right:10%"> حفظ
         </button>
      </div>
    </form>
  </div>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>

