<app-navbar></app-navbar>
<div class="row">
  <div class="col-2" style="background-color: var(--bg_main);"></div>
  <div class="col-8" style="background-color:var(--bg_main)">
    <form #exportForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="wrapper " style="direction: ltr;">
        <legend class="text-center">ادخال الصادر</legend>
        <div class="input-data" style="width:20%; margin-left:auto;">
          <input type="number" required id="receiver" name="receiver" ngModel>
          <div class="underLine"></div>
          <label for="receiver">رقم القيد</label>
        </div>
        <div class="d-flex">
          <div class="input-data" style="width:30%; margin-left:auto;">
            <input type="text" required id="receiver" name="receiver" ngModel>
            <div class="underLine"></div>
            <label for="receiver">الحهه الصادر لها الخطاب</label>
          </div>

          <div class="input-data" style="width:30%; margin-left:auto;">
            <input type="number" required id="receiver" name="receiver" ngModel>
            <div class="underLine"></div>
            <label for="receiver">عدد المرفقات</label>
          </div>
          <div class="input-data" style="width:30%; margin-left:auto;">
            <input type="number" required id="receiver" name="receiver" ngModel>
            <div class="underLine"></div>
            <label for="receiver">تاريخ الصادر</label>
          </div>
        </div>
        <div class="input-data" style="width:96%; margin-left: auto;">
          <input cols="40" rows="1" required id="summary" name="summary" ngModel>
          <div class="underLine"></div>
          <label for="summary">ملخص الخطاب</label>
        </div>
        <div class="d-flex">
          <div class="input-data" style="width:45%; margin-left:auto;">
            <input type="number" required id="receiver" name="receiver" ngModel>
            <div class="underLine"></div>
            <label for="receiver">تاريخ الاستلام</label>
          </div>
          <div class="input-data" style="width:45%; margin-left:auto;">
            <input type="text" required id="receiver" name="receiver" ngModel>
            <div class="underLine"></div>
            <label for="receiver">المستلم</label>
          </div>
        </div>
        <div class="input-data" style="width:20%; margin:auto;">
          <input type="text" required id="receiver" name="receiver" ngModel>
          <div class="underLine"></div>
          <label for="receiver">ملف الحفظ</label>
        </div>
        <button type="submit" class="btn  "
          style="width:100px; padding:1px;color: var(--color);background: var(--bg_hover);font-size:22px;margin-right:10%">
          حفظ
        </button>
      </div>
    </form>
  </div>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>