<div class="wrapper col-2">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" *ngFor="let item of showAttachments">
         <img src="{{item.paths}}" class="d-block w-100" style="height: 87vh;" alt="...">
      </div>
<!--      <img src="assets\exports\1-Screenshot 2024-01-28 153328.png" class="d-block w-100" style="height: 87vh;" alt="...">">-->

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
