<app-navbar></app-navbar>
<div class="row" >
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>

   <div class="col-10 position-relative" style=" zoom: 71%; background-color: #fff; text-align: center; overflow: auto; height:785px; border-radius: 8px;">

     <div class="row">

      <h2 style="font-size: 20px; padding: 10px 0; background-color: #fff; color: #3333338f; position: sticky; top: 0; width: 100%;">الخطابات الصادرة من مكتب العميد</h2>

       <table class="table">
        <thead style=" position: sticky; top: 40px; background-color: #fff;">
        <tr>
            <th scope="col">رقم الخطاب</th>
            <th scope="col">تاريخ الصادر</th>
            <th scope="col">عدد المرفقات</th>
            <th scope="col">الجهة الصادر اليها</th>
            <th scope="col">ملخص الخطاب</th>
            <th scope="col">المستلم</th>
            <th scope="col"> رقم الاستعجال</th>
            <th scope="col">تاريخ الاستعجال</th>
            <th scope="col"> رقم الرد</th>
            <th scope="col"> تاريخ الرد</th>
            <th scope="col">رقم الملف</th>

            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>

           <tr *ngFor="let item of showAllExport ">
            <td>{{item.id}}</td>
            <td>{{item.date}}</td>
            <td>{{item.numberOfAttachments}}</td>
             <td>{{item.receiver}}</td>
             <td>{{item.summary}}</td>
             <td>{{item.recipientName}}</td>
             <td>{{item.urgentNum}}</td>
            <td>{{item.urgentDate}}</td>
            <td>{{item.responseNumber}}</td>
            <td>{{item.responseDate}}</td>
            <td>{{item.typeNumber}}/{{item.num}}</td>
             <td>
               <a routerLink="/export-pagination?id/{{item.id}}">
                 <svg xmlns="http://www.w3.org/2000/svg" width="30" height="50" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" style="color:#72bc76">
                   <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                   <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                 </svg>
               </a>             </td>
          </tr>
          </tbody>
        </table>



         <input type="file" name="img" accept="image/*" (change)="onImageSelected($event)" >
         <label >اختار الصورة:</label>

       </div>
   </div>
  </div>

