
form {
  background-color: var(--bg);
  color: var(--color);
  width: 85%;
  margin: 0 auto;
  margin-top: 1%;
  zoom: 70%;
}

.wrapper {
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 100%;
  direction: rtl;
  margin-right: auto;
  display: flex;
  justify-content:space-around
}

.wrapper .input-data {
  height: 40px;
  width: 45%;
  position: relative;
  margin: 20px 0;
}

.wrapper .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 18px;
  border-bottom: 2px solid silver;
  background-color: var(--bg);
  color: var(--color);
}

.wrapper .input-data textarea {
  border: none;
  font-size: 18px;
  border-bottom: 2px solid silver;
}

/*.input-data input:focus,*/
/*.input-data textarea:focus {*/
/*  outline:none ;*/
/*  border: none;*/
/*}*/

.input-data input:focus~label,
.input-data input:valid~label,
.input-data textarea:focus~label,
.input-data textarea:valid~label {
  transform: translateY(-5px);
  font-size: 15px;
  color: var(--color);
}

.wrapper .input-data label {
  position: absolute;
  bottom:40px;
  right: 7%;
  color: var(--color);
  pointer-events: none;
  transition: .3s ease;
  text-align: center;
  direction: rtl;
}

.wrapper .input-data .underLine {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.wrapper .input-data .underLine::before,
.wrapper .input-data .underLine-text::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--bg);
  transform: scaleX(0);
  transition: all .3s ease-in-out;
}

.wrapper .input-data .underLine-text::before {
  bottom: -123px;
}

.input-data input:focus~.underLine::before,
.input-data input:valid~.underLine::before,
.input-data textarea:focus~.underLine-text::before,
.input-data textarea:valid~.underLine-text::before {
  transform: scaleX(1);
}




ngb-pagination ::ng-deep ul>li.active>a {
  background-color: #333333 !important;
  color: white !important;
}

ngb-pagination ::ng-deep a {
  color: black !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border-color: black;
  background-color: lightgrey;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}
