<app-navbar></app-navbar>

<div class="d-flex justify-content-between" style="background-color: var(--bg_main);">
  <div class="w-100">
    <form [formGroup]="signForm" (ngSubmit)="onSubmit()">
      <div class="wrapper">
        <legend class="text-center" style="font-weight: bolder;font-size: 20px;color:var(--color);">رقم الأشارة
          {{ numberOfSign }}
        </legend>
        <div class="input-container">
          <div class="input-data">
            <input type="datetime-local" required id="date" name="date" formControlName="date">
            <label for="date">بتاريخ :  </label>
          </div>
          <div class="input-data"  style="">
            <input type="text" required id="universityYear" name="universityYear" formControlName="universityYear">
            <label for="universityYear">للعام الجامعي :</label>
          </div>
        </div>
        <div class="input-container ">
          <div class="input-data">
            <input type="text" required id="sender" name="sender" formControlName="sender">
            <label for="sender">الجهة الوارد منها الأشارة</label>
          </div>
          <div class="input-data" style="width:30%">
            <input type="text" required id="via" name="sender" formControlName="via">
            <label for="via">عن طريق</label>
          </div>
        </div>
        <div class="input-container ">
          <div class="input-data">
            <input type="text" required id="signInformer" name="signInformer" formControlName="signInformer">
            <label for="signInformer">مبلغ الأشارة</label>
          </div>
          <div class="input-data" style="width:20%">
            <input type="text" required id="signInformerSelf" name="signInformerSelf"
                   formControlName="signInformerSelf">
            <label for="signInformerSelf">الصفة </label>
          </div>
          <div class="input-data" style="width:20%">
            <input type="text" required id="signInformerPhone" name="signInformerPhone"
                   formControlName="signInformerPhone">
            <label for="signInformerPhone">الموبايل </label>
          </div>
        </div>
        <div class="input-container">
          <div class="input-data" style="width:90%">
            <input required id="summary" name="summary" formControlName="summary">
            <label for="summary">محتوي الأشارة</label>
          </div>
        </div>
        <div class="input-container ">
          <div class="input-data" style="width:30%">
            <input type="text" required id="signSignature" name="signSignature" formControlName="signSignature">
            <label for="signSignature">التوقيع(الأشارة)</label>
          </div>
          <div class="input-data" style="width:30%">
            <input type="text" required id="signSelf" name="signSelf" formControlName="signSelf">
            <label for="signSelf">الصفة</label>
          </div>
        </div>
        <div class="input-container ">
          <h2 style="text-decoration: underline;font-size:25px">مستلم الأشارة</h2>
          <h2 style="text-decoration: underline;font-size:25px">المختص بتنفيذ الأشارة</h2>
        </div>
        <div class="input-container ">
          <div class="input-data" style="width:30%">
            <input type="text" required id="signRecipientName" name="signRecipientName"
                   formControlName="signRecipientName">
            <label for="signRecipientName">الاسم</label>
          </div>
          <div class="input-data" style="width:30%">
            <input type="text" required id="signExcutedName" name="signExcutedName" formControlName="signExcutedName">
            <label for="signExcutedName">الاسم</label>
          </div>
        </div>
        <div class="input-container ">
          <div class="input-data" style="width:30%">
            <input type="text" required id="signRecipientSelf" name="signRecipientSelf"
                   formControlName="signRecipientSelf">
            <label for="signRecipientSelf">الصفة</label>
          </div>
          <div class="input-data" style="width:30%">
            <input type="text" required id="signExcutedSelf" name="signExcutedSelf" formControlName="signExcutedSelf">
            <label>الصفة</label>
          </div>
        </div>
        <div class="input-container ">
          <div class="input-data" style="width:30%">
            <input type="date" required id="signRecipientDate" name="signRecipientDate"
                   formControlName="signRecipientDate">
            <label for="signRecipientDate">التاريخ</label>
          </div>
          <div class="input-data" style="width:30%">
            <input type="date" required id="signExecutionDate" name="signExecutionDate"
                   formControlName="signExecutionDate">
            <label for="signExecutionDate">التاريخ</label>
          </div>
        </div>
        <div class="input-container ">
          <div class="input-data" style="width:30%">
            <input type="text"  required id="depend" name="depend" formControlName="depend">
            <label for="depend">يعتمد , عميد الكلية</label>
          </div>
          <div class="input-data" style=" margin-right: 100px ">

            <div class="d-flex" style="margin-right:50%">
              <button type="submit" class="btn  " [disabled]="!signForm.valid"
                      style="width:100px; padding:1px;color: var(--coor);background: var(--bg_hover);font-size:22px;margin-right:10%"> حفظ
              </button>

            </div>

          </div>
        </div>
      </div>
    </form>

  </div>
  <div>
    <app-sidebar></app-sidebar>
  </div>
</div>
