* {
  margin: 0;
  padding: 0;

}

form {
  position: relative;
  margin-left: 25%;
  align-items: center;
  justify-content: center;
}

.wrapper {
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-top: 160px;
  width: 600px;
  background-color: #ffffff;
  position: fixed;
  margin-right: 10px;
}

.wrapper .input-data {
  height: 40px;
  width: 50%;
  position: relative;
  margin: 55px 0;
}

.wrapper .input-data input {
  height: 100%;
  width: 50%;
  font-size: 18px;
  direction: rtl!important;
  margin-top: 20px!important;
  border-radius: 100%;
}

