
.card {
  height: 280px;
  margin-top: 120px;
  width:500px;
  background-color: white!important;
  position: fixed;
}


.card-header h3 {
  color: black;

}


.login_btn {
  color: black;
  background-color: #72bc76;;
  width: 100px;
}


.links {
  color: black;

}

.links a {
  margin-left: 4px;
}

small{
  color: red;
  font-size: large;
}


