<app-navbar></app-navbar>

<div class="row" style="background-color: var(--bg);">

  <div class="d-flex justify-content-between">
    <div class="row w-100">
      <ngb-carousel class="col-md-5">
        <ng-template ngbSlide *ngFor="let item of paths;let i=index">
          <div class="carousel-wrapper" style="margin-top: 20px; ">
            <img src="{{item}}" style="height:83vh">
          </div>
        </ng-template>
      </ngb-carousel>
      <form class="col-md-7" style="zoom:55%;direction: ltr" [formGroup]="showExport">

        <div class="wrapper">
          <legend class="text-center" style="font-weight: bold;font-size: 30px; color: var(--color);"> جميع الخطابات الصادرة
            (0/2)</legend>

          <div class="d-flex">
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="number" readonly id="num" name="num" formControlName="num">
              <div class="underLine"></div>
              <label for="num">ملف الحفظ</label>
            </div>
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="number" readonly id="no" formControlName="no">
              <div class="underLine"></div>
              <label for="no">رقم القيد</label>
            </div>
          </div>
          <div class="d-flex">
            <div class="input-data" style="width:30%; margin-left:auto;">
              <input type="text" readonly id="receiver" formControlName="receiver">
              <div class="underLine"></div>
              <label for="receiver">الحهه الصادر لها الخطاب</label>
            </div>

            <div class="input-data" style="width:30%; margin-left:auto;">
              <input type="number" readonly id="numberOfAttachments" formControlName="numberOfAttachments">
              <div class="underLine"></div>
              <label for="numberOfAttachments">عدد المرفقات</label>
            </div>
            <div class="input-data" style="width:30%; margin-left:auto;">
              <input type="Date" readonly id="date" formControlName="date">
              <div class="underLine"></div>
              <label for="date">تاريخ الصادر</label>
            </div>
          </div>
          <div class="input-data" style="width:96%; margin-left: auto;">
            <input cols="40" rows="1" readonly id="summary" formControlName="summary">
            <div class="underLine"></div>
            <label for="summary">ملخص الخطاب</label>
          </div>
          <div class="d-flex">
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="date" readonly id="recipientDate" name="recipientDate" formControlName="recipientDate">
              <div class="underLine"></div>
              <label for="recipientDate">تاريح الاستلام</label>
            </div>
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="text" readonly id="recipientName" formControlName="recipientName">
              <div class="underLine"></div>
              <label for="recipientName">المستلم</label>
            </div>
          </div>
          <div class="d-flex">
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="date" readonly id="urgentDate" formControlName="urgentDate">
              <div class="underLine"></div>
              <label for="urgentDate">تاربخ الاستعجال</label>
            </div>
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="number" readonly id="urgentNum" formControlName="urgentNum">
              <div class="underLine"></div>
              <label for="urgentNum">رقم الاستعجال</label>
            </div>
          </div>
          <div class="d-flex">
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="date" readonly id="responseDate" formControlName="responseDate">
              <div class="underLine"></div>
              <label for="responseDate">تاريخ الرد</label>
            </div>
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="number" readonly id="responseNumber" name="responseNumber" formControlName="responseNumber">
              <div class="underLine"></div>
              <label for="responseNumber">رقم الرد الوارد</label>
            </div>
          </div>

          <div class="input-data" style="width:35%; margin-left:auto;">
            <input type="text" required readonly id="createdBy" formControlName="createdBy">
            <label for="createdBy">أنشأ بواسطة</label>
          </div>


          <div class="input-data" style="bottom: 0px;margin-left:5%">



            <div class="col-md-9 pag" style="margin-top:50px;bottom:0px;margin-left:45%">
              <ngb-pagination [(page)]="page" [pageSize]="size" [collectionSize]="pageLength" (pageChange)="change($event)"
                              [maxSize]="1" [boundaryLinks]="true" [ellipses]="false" [rotate]="false"
                              routerLink="/lastexport_pagination/{{page}}">
              </ngb-pagination>

            </div>
          </div>
        </div>

      </form>
    </div>

    <div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
