<app-navbar></app-navbar>

<div class="row" style="background-color: var(--bg);">

  <div class="d-flex justify-content-between">
    <div class="d-flex w-100">
      <ngb-carousel style="width: 40%;">
        <ng-template ngbSlide *ngFor="let item of paths;let i=index">
          <div class="carousel-wrapper" style="margin-top: 20px; ">
            <button *ngIf="roleOfUser=='admin'||roleOfUser=='manager'" type="submit" (click)="deleteImage(i)"
                    class="btn"
                    style="width:150px;padding:1px;margin-top:10px;margin-left:30px;color: var(--color);background: var(--bg_hover);font-size:15px">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                   viewBox="0 0 16 16">
                <path
                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
              </svg>
              حذف المرفق
            </button>
            <img src="{{item}}" style="height:83vh">
          </div>
        </ng-template>
      </ngb-carousel>
      <form style="width:51%;zoom:55%;direction: ltr" [formGroup]="deanDecisions">

        <div class="wrapper">
          <legend class="text-center" style="font-weight: bold;font-size: 30px; color: var(--color);"> قرارات العميد
          </legend>

          <div class="d-flex">
            <div class="input-data" style="width:30%; margin-left:auto;">
              <input type="text" readonly id="num" formControlName="num">
              <div class="underLine"></div>
              <label for="num">رقم القرار</label>
            </div>

            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="number" readonly id="no" formControlName="no">
              <div class="underLine"></div>
              <label for="no">رقم الملف</label>
            </div>
          </div>
          <div class="d-flex">


            <div class="input-data" style="width:30%; margin-left:auto;">
              <input type="text" readonly id="createdBy" formControlName="createdBy">
              <div class="underLine"></div>
              <label for="createdBy">أنشأ بواسطة</label>
            </div>
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="Date" readonly id="date" formControlName="date">
              <div class="underLine"></div>
              <label for="date"> تاريخ القرار</label>
            </div>
          </div>
          <div class="input-data" style="width:96%; margin-left: auto;">
            <input cols="40" rows="1" readonly id="summary" formControlName="summary">
            <div class="underLine"></div>
            <label for="summary">موضوع  القرار</label>
          </div>
          <div class="d-flex">

          </div>
          <div class="d-flex">

          </div>
          <div class="d-flex">

          </div>


          <div class="input-data" style="bottom: 0px;margin-left:5%">
            <form (ngSubmit)="onSubmit()" enctype="multipart/form-data"
                  style=" margin-bottom: 45px;margin-right:100px; display: flex;font-size:25px">
              <button type="submit"
                      style="width:450px; padding:1px; margin-right:50px;color: var(--color);background: var(--bg_hover);font-size:25px"
                      routerLink="/deandecision_pagination/{{no}}">حفظ المرفقات
              </button>
              <input type="file" name="files" multiple (change)="onFileSelected($event)" style="margin-right: 10px;"/>
            </form>
            <div style="margin-left: 12%">
              <button type="submit" class="btn  "
                      style="width:150px; padding:10px;margin-left:20%;color: var(--color);background: var(--bg_hover);font-size:25px"
                      routerLink="/adddeandecision">
                اضافه تسجيل
              </button>
              <button *ngIf="roleOfUser=='admin'||roleOfUser=='manager'" type="submit" class="btn "
                      style="width:150px; padding:10px;margin-left:5%;color: var(--color);background: var(--bg_hover);font-size:25px"
                      routerLink="/updatedeandecision/{{page}}">
                تعديل
              </button>

            </div>

            <div class="col-md-9 pag" style="margin-top:50px;bottom:0px;margin-left:45%">
              <ngb-pagination [(page)]="page" [pageSize]="size" [collectionSize]="pageLength"
                              (pageChange)="change($event)"
                              [maxSize]="1" [boundaryLinks]="true" [ellipses]="false" [rotate]="false"
                              routerLink="/deandecision_pagination/{{page}}">
              </ngb-pagination>

            </div>
          </div>
        </div>

      </form>
    </div>

    <div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
