<app-navbar></app-navbar>
<div class="row">
  <div class="col-2"></div>
  <form class="col-8" style="zoom: 80%" #ModifyPassword="ngForm" (ngSubmit)="changePassword(ModifyPassword.value)" >

    <div class="wrapper">
      <legend class="text-center">تعديل بيانات مستخدم</legend>

      <div style="display: flex;  justify-content: space-between;">
        <div class="input-container">

          <div class="input-data">
            <input type="password" required id="newPassword" name="newPassword" ngModel>
            <div class="underLine"></div>
            <label for="newPassword">  الرقم السري الجديد</label>
          </div>
        </div>

        <div class="input-container">
          <div class="input-data">
            <input type="password" required id="oldPassword" name="oldPassword" ngModel>
            <div class="underLine-text"></div>
            <label for="oldPassword"> الرقم السري القديم</label>
          </div>

        </div>
      </div>
      <!-- Button trigger modal -->
      <button type="submit" class="btn btn-success w-25" style="padding:10px;margin-left: 38%" data-bs-toggle="modal" data-bs-target="#exampleModal">
حفظ      </button>

       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="margin-left: 120%">
            <div class="modal-header">
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 30px;margin:20px;margin-left:32%;font-weight: bold;font-size: large">
              الرقم السري المدخل غير صحيح
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success w-25 h-25" style="margin:15px;margin-right:40%;font-weight: bold;font-size: large" data-bs-dismiss="modal">غلق</button>
             </div>
          </div>
        </div>
      </div>
<!--        <button  type="submit" class="btn btn-success w-25" style="padding:10px;margin-left: 38%"> حفظ</button>-->
    </div>
  </form>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>


