<app-navbar></app-navbar>
<div class="row" style="background-color: var(--bg_main);">
  <div class="col-2"></div>
  
  <form class="col-6" #ModifyPassword="ngForm" (ngSubmit)="changePassword(ModifyPassword.value)" >

    <div class="wrapper">
      <legend class="text-center" style="color: var(--color);">تعديل بيانات مستخدم</legend>

      <div style="display: flex;  justify-content: space-between;">
        <div class="input-container">

          <div class="input-data">
            <input type="password" required id="newPassword" name="newPassword" ngModel>
            <div class="underLine"></div>
            <label for="newPassword">  الرقم السري الجديد</label>
          </div>
        </div>

        <div class="input-container">
          <div class="input-data">
            <input type="password" required id="oldPassword" name="oldPassword" ngModel>
            <div class="underLine"></div>
            <label for="oldPassword"> الرقم السري القديم</label>
          </div>

        </div>
      </div>

         <button  type="submit" class="btn  w-25" style="padding:10px;margin-left: 38%;background: var(--bg_hover);color: var(--color)"> حفظ</button>
    </div>
  </form>
  <div class="col-2"></div>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>


