<app-navbar></app-navbar>
<div class="row" >

  <div class="col-10 position-relative" style=" zoom: 75%; background-color: #fff; text-align: center; overflow: auto; height:785px; border-radius: 8px;">
    <div class="row">

      <h2 style="font-size: 20px; padding: 10px 0; background-color: #fff; color: black; position: sticky; top: 0; width: 100%;font-weight: bold;margin-left:90px">ملفات الارشيف  </h2>
      <table class="table" style="direction: rtl">
        <thead style=" position: sticky; top: 40px; background-color: #fff;">
        <tr>
          <th scope="col">رقم القيد</th>
          <th scope="col"> الاسم  </th>
          <th scope="col">رقم الملف</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of AllFiles">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.typeNumber}}/{{item.num}}</td>
          <td>
            <i class="bi bi-pencil-square p-4" style="font-size:24px; color:#00f;"></i>
            <i class="bi bi-trash" style="font-size:24px; color:#f00 "></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>
