<nav class="navbar navbar-expand-lg navbar-light" style="height: 75px; zoom: 55%;" >
  <a class="navbar-brand mx-5" href="#">
    <i class="bi bi-archive-fill"></i>
    <span class="pl-3 ml-3"><a routerLink="/home">Archive Management System</a></span>
    <i class="fa fa-"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 m-auto position-relative">
      <i class="fas fa-search" aria-hidden="true"
         style="
                    position: absolute;
                    top: 5px;
                    font-size: 20px;
                    color: #ddd;
                    left: 13px;"></i>
      <input   class="form-control mr-sm-2 search" type="search"
               placeholder="Search "
               aria-label="Search">
    </form>

    <div class="m-3" style="margin-top: 5px">
      <h1> {{fullName}}</h1>
    </div>

    <img src="{{img}}" style="height:70px;width:70px; margin-right: 15px; border-radius:100%">

  </div>
</nav>
