<nav class="navbar navbar-expand-lg navbar-light" style="height: 75px; zoom: 55%;" >

  <a>
    <div class="dropdown" >
      <img src="{{img}}" style="height:70px;width:70px; margin-left: 15px; border-radius:100%;margin-top: 10px">
      <div class="dropdown-content" style="margin-right: 100px">
        <a routerLink="/update-login-information">   تعديل البيانات </a>
        <a routerLink="/changepassword/{{userName}}">تغيير الرقم السري</a>
        <a>تغيير الصورة
        <input type="file" name="img" accept="image/*" (change)="onImageSelected($event)" >
         </a>

        <div class="log-out">
          <a href="#">
            <button type="submit"  class="btn w-100"  style="padding:5px;margin-left:5px;color: white;background: #333333 "  (click)="clearToken()">

              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16" style="margin-right:30px ">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
              </svg>

              خروج
            </button>
          </a>
        </div>




      </div>
    </div>
  </a>

  <div style="margin-top:10px;margin-left:20px!important;color:#333333;text-decoration: none">
    <h1> {{name}}</h1>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 m-auto position-relative">
      <i class="fas fa-search" aria-hidden="true"
         style="
                    position: absolute;
                    top: 5px;
                    font-size: 20px;
                    color: #ddd;
                    left: 13px;"></i>
      <input   class="form-control mr-sm-2 search" type="search"
               placeholder="Search "
               aria-label="Search">
    </form>

    <a class="navbar-brand mx-5" >
      <i class="bi bi-archive-fill"></i>
      <span class="pl-3 ml-3"><a routerLink="/home">برنامج الارشيف الالكتروني</a></span>
      <i class="fa fa-"></i>
    </a>
  </div>
</nav>
