* {
  margin: 0;
  padding: 0;

}

table {
  width: 100%;
  direction: rtl;
}

thead {
  position: sticky;
  top: 44px;
  background-color: var(--bg_hover);
  color: var(--color);
  margin: 10%;
}

tbody {
  background-color: var(--bg);
  color: var(--color);
}
tr:nth-child(odd) {
  background-color: var(--color1);
}
tr:nth-child(even) {
  background-color: var(--color2);
}


::-webkit-scrollbar {
  width: 10px;
  height: 2px;

}

::-webkit-scrollbar:hover {
  width: 20px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #33333332;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}