
<div class="row">
  <div class="col-2" style="background-color: var(--bg_main);"></div>
  <div class="col-8" style="background-color:var(--bg_main)">
    <form class="col-8" style="zoom: 70%" [formGroup]="saveFileForm" (ngSubmit)="onSubmit()">
      <div class="wrapper " style="direction: ltr;">
        <legend class="text-center">ادخال ملف حفظ</legend>

        <div class="input-data" style="width:20%; margin-left:40%;margin-top: 10%">
          <input type="number" id="num" name="num" formControlName="num">
          <label for="num" style="margin-right: 85%;color: var(--color);margin-bottom:-5px"></label>
          <label for="num" style="color: var(--color)">رقم الملف</label>
        </div>
        <button type="submit" class="btn  "
                style="width:100px; padding:1px;color: var(--color);background: var(--bg_hover);font-size:22px;margin-right:10%">
          حفظ
        </button>
      </div>
    </form>
  </div>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>
