a {
  color: var(--color);
  text-decoration: none;
}

.logo {
  display: flex;
}

.logo h2 {
  font-size: .3em;
}

.logo svg {
  padding: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  zoom: 55%;
  background-color: var(--bg);
  color: var(--color);
  height: 13vh;

}

.dropbtn {
  background-color: #04AA6D;
  color: var(--color);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  margin-right: 30px !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-size: 30px;
  margin-right: 30px !important;
}

.dropdown-content a {
  color: var(--color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  width: 96%;
  background-color: var(--bg);
  color: var(--color);
}

.dropdown-content a {
  font-weight: bold;
  margin-left: 10px;
}

.navbar-brand {
  font-weight: bolder;
  font-size: 150px;
  margin-left: 20px;
  margin-right: 25px;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  direction: rtl;
}

.menu-icon{
  width: 30px;
  height: 21px;
  cursor: pointer;
  position: relative;
}
.menu-icon span{
  background-color: var(--color);
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all .5s ease;
}
.menu-icon span:first-child{
  top: 0;
}
.menu-icon span:nth-child(2){
  top: 8px;
}
.menu-icon span:last-child{
  top: 16px;
}

.menu {
  width: 100%;
  height: 116vh;
  padding: 30px;
  background-color: var(--bg);
}


.menu ul li p,
.dropdown-toggle {
  color: var(--color);
  font-weight: bold;
}

ul {
  list-style: none;
  position: relative;
}

ul li a,
.dropdown-toggle {
  display: block;
  width: 15em;
  padding: 5px 5px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown-toggle:hover {
  text-decoration: none;
  background-color: var(--bg);
  color: var(--color);
}

/* .btn:hover {
  text-decoration: none;
  background-color: var(--bg_hover);

} */

.dropdown-item {
  background-color: var(--bg);
  color: var(--color);
}

.log-out {
  position: absolute;
  bottom: 0;
  margin-right: 60px;
}
