 <div class="row">
  <div class="col-2"></div>

  <form [formGroup]="dataForm" (ngSubmit)="submitForm()">
    <div formArrayName="subjects">
      <div *ngFor="let subject of subjects.controls; let i = index">
        <div [formGroupName]="i">
          <input formControlName="num" type="hidden">
          <label>Subject {{ i + 1 }}:</label>
          <input formControlName="head" type="text" placeholder="Head">
          <div formArrayName="decision">
            <div *ngFor="let decision of decisions.controls; let j = index" [formGroupName]="j">
              <label>Decision {{ j + 1 }}:</label>
              <input formControlName="num" type="hidden">
              <input formControlName="summary" type="text" placeholder="Summary">
              <button type="button" (click)="removeDecision(i, j)">Remove Decision</button>
            </div>
          </div>
          <button type="button" (click)="addDecision(i)">Add Decision</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="addSubject()">Add Subject</button>
    <button type="submit">Submit</button>
  </form>


  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>

