<app-navbar></app-navbar>

<div class="row" style="background-color: var(--bg);">
  <div class="d-flex justify-content-between">
    <div class="row w-100">
      <ngb-carousel class="col-md-4">
        <ng-template ngbSlide *ngFor="let item of paths;let i=index">
          <div class="carousel-wrapper" style="margin-top: 2px;margin-left: 20px " [id]="'print-section-' + i">
            <img src="{{item}}" style="height:83vh">
          </div>
          <div class="d-flex">

            <button [printSectionId]="'print-section-' + i" ngxPrint
                    class="btn"
                    style="width:150px;padding:1px;margin-top:10px;margin-left:27%;color: var(--color);background: var(--bg_hover);font-size:15px;z-index: 50">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
              </svg>
              طباعة
            </button>
          </div>
        </ng-template>
      </ngb-carousel>
      <form class="col-md-7" style="zoom: 70%;direction: ltr" [formGroup]="showSpecial">
        <legend class="text-center" style="font-weight: bold;margin-top: 30px;margin-left:90px;color: var(--color);"> الملفات الخاصة (0/3)
        </legend>

        <div class="wrapper">

          <div style="display: flex;  justify-content: space-between;">
            <div class="input-container ">
              <div class="d-flex">
                <div class="input-data" style="width:40%; margin-left:auto;">
                  <input type="number" readonly id="numberOfImages" formControlName="numberOfImages">
                  <div class="underLine"></div>
                  <label for="numberOfImages"> عدد المرفقات الفعلي</label>
                </div>
                <div class="input-data" style="margin-left: 15px;width:40%">
                  <input type="number" required readonly id="archiveId" formControlName="archiveId">
                  <label for="archiveId">رقم الخطاب</label>
                </div>
              </div>
              <div class="d-flex">
                <div class="input-data" style="margin-left: 10px; bottom:-30px;width: 100%">
                  <input type="text" readonly required id="createdBy" formControlName="createdBy">
                  <label for="createdBy">أنشأ بواسطة </label>
                </div>
                <div class="input-data" style="top:32px;width: 100%">
                  <input type="text" required readonly id="sender" formControlName="sender">
                  <label for="sender">الجهة</label>
                </div>
              </div>
            </div>
            <div class="input-container">
              <div class="d-flex">
                <div class="input-data" style="width: 65%">
                  <input type="text" required readonly id="numberOfAttachments" formControlName="numberOfAttachments">
                  <label for="numberOfAttachments">عدد المرفقات</label>
                </div>
                <div class="input-data " style="width:30%; margin-left:auto;">
                  <input type="number" required readonly id="no" formControlName="no">
                  <label for="no">رقم القيد</label>
                </div>
              </div>
              <div class="d-flex">
                <div class="input-data" style="width: 65%; bottom:-30px">
                  <input type="text" required readonly id="incomeDate" formControlName="incomeDate">
                  <label for="incomeDate">تاريخ الورود</label>
                </div>
                <div class="input-data " style="width:30%; margin-left:auto; bottom:-30px">
                  <input type="text" required readonly id="num" formControlName="num">
                  <label for="num">رقم الملف</label>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex" >


            <div class="input-data"style="margin-left: 10px; bottom:-30px">
              <input type="text" readonly required id="summary" formControlName="summary">
              <label for="summary">ملخص الخطاب</label>
            </div>
          </div>
          <div class="input-data"style="margin-left: 80px; bottom:-30px;width: 90%">
            <input type="text" readonly required id="notes" formControlName="notes">
            <label for="notes"> ملاحظات </label>
          </div>


          <div class="col-8 position-relative"
               style="background-color: var(--bg_main); height: 250px; overflow: auto; border-radius: 8px;
              zoom:95%;width:1000px ;margin-top: 30px;margin-left: 40px ">
            <div
              style="background-color: var(--bg_main); overflow: auto; height: 200px; text-align:right;  border-radius: 8px;">
              <table class="table  table-bordered   " style="direction: rtl;background-color:var(--bg_main)">
                <thead style=" position: sticky; top: 44px; background-color: var(--bg);">
                <tr>
                </tr>
                <tbody *ngFor="let item of subjects">
                <td style="font-weight: bolder;font-size:25px;margin-right:100%;margin-top: 10px">({{ item.num }}
                  /0) {{ item.head }}
                </td>
                <tr *ngFor="let i of item.decision">
                  <td style="font-size: 20px"> ({{ i.num }}/{{ item.num }}) {{ i.summary }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;القرار&nbsp;&nbsp;({{ i.qarar }}
                    )
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>


          <div class="input-data" style=" margin-left: 100px ">




            <div class="  pag" style="margin-top: 10px;margin-left: 29%">
              <ngb-pagination [(page)]="page" [pageSize]="size" [collectionSize]="pageLength" (pageChange)="change($event)"
                              [maxSize]="1" [boundaryLinks]="true" [ellipses]="false" [rotate]="false">
              </ngb-pagination>

            </div>
          </div>
        </div>
      </form>
    </div>
    <div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
