<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>
<div class="row">
  <ngb-carousel class="col-4">
    <ng-template ngbSlide *ngFor="let item of paths">
      <div class="carousel-wrapper">
        <img src="{{item}}" style="height:87vh">
      </div>
    </ng-template>
  </ngb-carousel>
  <form class="col-6" style="zoom: 70%;direction: ltr" [formGroup]="showSpecial">

    <div class="wrapper">
      <legend class="text-center" style="font-weight: bold"> الملفات الخاصة (3/0)</legend>

      <div style="display: flex;  justify-content: space-between;">
        <div class="input-container ">
          <div class="input-data">
            <input type="number" required readonly id="archiveId" formControlName="archiveId">
            <label for="archiveId">رقم الخطاب</label>
          </div>
          <div class="input-data" style="top:32px">
            <input type="text" required readonly id="sender" formControlName="sender">
            <label for="sender">الجهة الوارد منها اليها الخطاب</label>
          </div>
        </div>
        <div class="input-container">
          <div class="d-flex">
            <div class="input-data" style="width: 65%">
              <input type="text" required readonly id="numberOfAttachments" formControlName="numberOfAttachments">
              <label for="numberOfAttachments">عدد المرفقات</label>
            </div>
            <div class="input-data " style="width:30%; margin-left:auto;">
              <input type="number" required readonly id="id" formControlName="id">
              <label for="id">رقم القيد</label>
            </div>
          </div>
          <div class="d-flex">
            <div class="input-data" style="width: 65%">
              <input type="text" required readonly id="incomeDate" formControlName="incomeDate">
              <label for="incomeDate">تاريخ الورود</label>
            </div>
            <div class="input-data " style="width:30%; margin-left:auto;">
              <input type="text" required readonly id="num" formControlName="num">
              <label for="num">رقم الملف</label>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex">

        <div class="input-data">
          <input type="text" readonly required id="summary" formControlName="summary">
          <label for="summary">ملخص الخطاب</label>
        </div>
      </div>

      <div class="input-data" style="bottom:38px;margin-right: 10px">

        <div class="row mx-3">
          <div class=" m-3 position-relative "
               style="background-color: #fff; text-align: center; overflow: auto; height:200px; border-radius: 8px;zoom:91%">
            <table class="table m-0" style="max-height: 100px;direction: rtl">
              <thead style=" position: sticky; top: 0; background-color: #fff;">
              <tr>
                <th scope="col" style="font-size: 20px">موضوعات المجلس </th>
              </tr>
              </thead>
              <tbody>
              <tr >
                <td>esraa</td>
              </tr>
              <tr >
                <td>esraa</td>
              </tr>
              <tr >
                <td>esraa</td>
              </tr> <tr >
                <td>esraa</td>
              </tr> <tr >
                <td>esraa</td>
              </tr> <tr >
                <td>esraa</td>
              </tr> <tr >
                <td>esraa</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="input-data" style="margin-left: 20%;margin-top: 105px">
        <button type="submit" class="btn btn-success"
                style="width: 23%; padding:10px;margin: 8px;color: white;background: #333333"
                routerLink="/addspecialfile">
          اضافه
        </button>
        <button type="submit" class="btn btn-success"
                style="width: 23%; padding:10px;margin: 8px;color: white;background: #333333"
                routerLink="/update-special/{{page}}">
          تعديل
        </button>

      </div>

      <div class="col-md-9 pag" style="padding-left: 10%; margin:30px;bottom:55px;margin-left: 25%">
        <ngb-pagination [(page)]="page" [pageSize]="size" [collectionSize]="pageLength" (pageChange)="change()"
                        [maxSize]="1" [boundaryLinks]="true" [ellipses]="false" [rotate]="false"
                        routerLink="/exports-pagination?id/{{page}}">
        </ngb-pagination>

      </div>

    </div>
  </form>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>


<!--<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>-->
<!--<div class="row">-->
<!--  <ngb-carousel class="col-4">-->
<!--    <ng-template ngbSlide *ngFor="let item of paths">-->
<!--      <div class="carousel-wrapper">-->
<!--        <img src="{{item}}" style="height:87vh">-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </ngb-carousel>-->
<!--  <form class="col-6" style="zoom: 70%;direction: ltr" [formGroup]="showSpecial">-->

<!--    <div class="wrapper">-->
<!--      <legend class="text-center" style="font-weight: bold"> الملفات الخاصة (3/0)</legend>-->

<!--      <div style="display: flex;  justify-content: space-between;">-->
<!--        <div class="input-container ">-->
<!--          <div class="input-data">-->
<!--            <input type="number" required readonly id="archiveId" formControlName="archiveId">-->
<!--            <label for="archiveId">رقم الخطاب</label>-->
<!--          </div>-->
<!--          <div class="input-data" style="top:32px">-->
<!--            <input type="text" required readonly id="sender" formControlName="sender">-->
<!--            <label for="sender">الجهة الوارد منها اليها الخطاب</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="input-container">-->
<!--          <div class="d-flex">-->
<!--            <div class="input-data" style="width: 65%">-->
<!--              <input type="text" required readonly id="numberOfAttachments" formControlName="numberOfAttachments">-->
<!--              <label for="numberOfAttachments">عدد المرفقات</label>-->
<!--            </div>-->
<!--            <div class="input-data " style="width:30%; margin-left:auto;">-->
<!--              <input type="number" required readonly id="id" formControlName="id">-->
<!--              <label for="id">رقم القيد</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="d-flex">-->
<!--            <div class="input-data" style="width: 65%">-->
<!--              <input type="text" required readonly id="incomeDate" formControlName="incomeDate">-->
<!--              <label for="incomeDate">تاريخ الورود</label>-->
<!--            </div>-->
<!--            <div class="input-data " style="width:30%; margin-left:auto;">-->
<!--              <input type="text" required readonly id="num" formControlName="num">-->
<!--              <label for="num">رقم الملف</label>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="d-flex">-->
<!--      <div class="input-data"style="bottom:38px;margin-right: 10px">-->
<!--        <table class="table table-bordered border-dark"style="height:50px ;direction: rtl;bottom: 50px">-->
<!--          <thead style=" position: sticky; background-color: #fff;direction: rtl">-->
<!--          <tr>-->
<!--            <th scope="col">موضوعات المجلس</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td>Yousef</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--        <div class="input-data" >-->
<!--          <input type="text" readonly required id="summary" formControlName="summary">-->
<!--          <label for="summary">ملخص الخطاب</label>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="input-data" style="bottom: 0px;margin-left: 20%">-->
<!--        <button type="submit" class="btn btn-success"-->
<!--                style="width: 23%; padding:10px;margin: 8px;color: white;background: #333333"-->
<!--                routerLink="/update-special/{{page}}">-->
<!--          تعديل-->
<!--        </button>-->
<!--        <button type="submit" class="btn btn-success"-->
<!--                style="width: 23%; padding:10px;margin: 8px;color: white;background: #333333"-->
<!--                routerLink="/addspecialfile">-->
<!--          اضافه-->
<!--        </button>-->
<!--        <div class="col-md-9 pag" style="padding-left: 10%; margin:30px;bottom:55px;margin-left: 25%">-->
<!--          <ngb-pagination [(page)]="page" [pageSize]="size" [collectionSize]="pageLength" (pageChange)="change()"-->
<!--                          [maxSize]="1" [boundaryLinks]="true" [ellipses]="false" [rotate]="false"-->
<!--                          routerLink="/exports-pagination?id/{{page}}">-->
<!--          </ngb-pagination>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--  <div class="col-2 position-relative">-->
<!--    <app-sidebar></app-sidebar>-->
<!--  </div>-->
<!--</div>-->
<!-- -->


