<app-navbar></app-navbar>

<div class="row" style="background-color: var(--bg);">
  <div class="d-flex justify-content-between">
    <div class="row w-100">
      <ngb-carousel class="col-md-4">
        <ng-template ngbSlide *ngFor="let item of paths;let i=index">
          <div class="carousel-wrapper" style="margin-top: 20px;margin-left: 20px ">
            <img src="{{item}}" style="height:83vh">
          </div>
          <button *ngIf="roleOfUser=='admin'||roleOfUser=='manager'" type="submit" (click)="deleteImage(i)"
                  class="btn"
                  style="width:150px;padding:1px;margin-top:10px;margin-left:100px;color: var(--color);background: var(--bg_hover);font-size:15px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                 viewBox="0 0 16 16">
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
            </svg>
            حذف المرفق
          </button>
        </ng-template>
      </ngb-carousel>
  <form class="col-md-7" style="zoom: 70%;direction: ltr" [formGroup]="showSpecial">
    <legend class="text-center" style="font-weight: bold;margin-top: 30px;margin-left:90px;color: var(--color);"> الملفات الخاصة (0/3)
    </legend>

    <div class="wrapper">

      <div style="display: flex;  justify-content: space-between;">
        <div class="input-container ">
          <div class="input-data">
            <input type="number" required readonly id="archiveId" formControlName="archiveId">
            <label for="archiveId">رقم الخطاب</label>
          </div>
          <div class="input-data" style="top:32px">
            <input type="text" required readonly id="sender" formControlName="sender">
            <label for="sender">الجهة</label>
          </div>
        </div>
        <div class="input-container">
          <div class="d-flex">
            <div class="input-data" style="width: 65%">
              <input type="text" required readonly id="numberOfAttachments" formControlName="numberOfAttachments">
              <label for="numberOfAttachments">عدد المرفقات</label>
            </div>
            <div class="input-data " style="width:30%; margin-left:auto;">
              <input type="number" required readonly id="no" formControlName="no">
              <label for="no">رقم القيد</label>
            </div>
          </div>
          <div class="d-flex">
            <div class="input-data" style="width: 65%">
              <input type="text" required readonly id="incomeDate" formControlName="incomeDate">
              <label for="incomeDate">تاريخ الورود</label>
            </div>
            <div class="input-data " style="width:30%; margin-left:auto;">
              <input type="text" required readonly id="num" formControlName="num">
              <label for="num">رقم الملف</label>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex" >
        <div class="input-data"style="margin-left: 10px">
          <input type="text" readonly required id="createdBy" formControlName="createdBy">
          <label for="createdBy">أنشأ بواسطة </label>
        </div>

        <div class="input-data"style="margin-left: 10px">
          <input type="text" readonly required id="summary" formControlName="summary">
          <label for="summary">ملخص الخطاب</label>
        </div>
      </div>

      <div class="col-8 position-relative"

           style="background-color: var(--bg); height: 250px; overflow: auto; border-radius: 8px;
              zoom:95%;width:1000px ;margin-top: 20px ">
        <div
          style="background-color: var(--bg); overflow: auto; height: 200px; text-align:right;  border-radius: 8px;">
          <table class="table  table-bordered   " style="direction: rtl;background-color:var(--bg)">
            <thead style=" position: sticky; top: 44px; background-color: var(--bg);">
            <tr>
            </tr>
            <tbody *ngFor="let item of subjects">
            <td style="font-weight: bolder;font-size:25px;margin-right:100%;margin-top: 10px">({{ item.num }}
              /0) {{ item.head }}
            </td>
            <tr *ngFor="let i of item.decisions">
              <td style="font-size: 20px"> ({{ i.num }}/{{ item.num }}) {{ i.summary }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;القرار&nbsp;&nbsp;({{ i.qarar }}
                )
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="input-data" style=" margin-left: 100px ">
        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" style=" margin-bottom: 45px;margin-right:250px; display: flex;font-size:25px" >
          <button type="submit" style="width:450px; padding:1px; margin-right:50px;color: var(--color);background: var(--bg_hover);font-size:25px" routerLink='/special_pagination/{{no}}'
          >حفظ المرفقات</button>
          <input type="file" name="files" multiple (change)="onFileSelected($event)" style="margin-right: 10px;" />
        </form>


        <div class="d-flex" style="margin-left:20%">
          <button
            type="submit" class="btn "
            style="width: 23%; padding:10px;margin: 8px;color: var(--color);background: var(--bg_hover)"
            routerLink="/addspecialfile">
            تسجيل جديد
          </button>

          <button *ngIf="roleOfUser=='admin'||roleOfUser=='manager'"
                  type="submit" class="btn "
                  style="width: 23%; padding:10px;margin: 8px;color: var(--color);background: var(--bg_hover)"
                  routerLink="/updatespecial/{{id}}"
                  (click)="getSpecialById({page})">
            تعديل
          </button>

        </div>
        <div class="  pag" style="margin-top: 10px;margin-left: 29%">
          <ngb-pagination [(page)]="page" [pageSize]="size" [collectionSize]="pageLength" (pageChange)="change($event)"
                          [maxSize]="1" [boundaryLinks]="true" [ellipses]="false" [rotate]="false"
                          routerLink="/special_pagination/{{page}}">
          </ngb-pagination>

        </div>
      </div>
    </div>
  </form>
</div>
  <div>
    <app-sidebar></app-sidebar>
  </div>
  </div>
</div>

