* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  direction: rtl;
}

.menu-icon {
  width: 30px;
  height: 21px;
  cursor: pointer;
  position: relative;
}

.menu-icon span {
  background-color: var(--color);
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all .5s ease;
}

.menu-icon span:first-child {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 8px;
}

.menu-icon span:last-child {
  top: 16px;
}

.menu {
  width: 100%;
  height: 93vh;
  padding: 15px;
  background-color: var(--bg);
}


.menu ul li p,
.dropdown-toggle {
  color: var(--color);
  font-weight: bold;
}

ul {
  list-style: none;
  position: relative;
}

ul li a,
.dropdown-toggle {
  width: 15em;
  padding: 5px 5px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap:5px;
}

.dropdown-toggle:hover {
  background-color: var(--bg);
  color: var(--color);
}

.btn {
  width: 150px;
  height: 30px;
  margin-top: 20px;
  font-size:15px;
  font-weight: bold;
}

/* .btn:hover {
  text-decoration: none;
  background-color: var(--bg_hover);

} */

.dropdown-item {
  background-color: var(--bg);
  color: var(--color);
}

.log-out {
  position: absolute;
  bottom: 0;
  margin-right: 60px;
}
*{padding:0px;
  margin:0px;
  font-family:sans-serif;}
/*.sidebar{*/
/*  background:#151719;*/
/*  height:100%;*/
/*  width:200px; !* Cannot adjust width *!*/
/* }*/
/*#sidebar .menu li{*/
/*  list-style-type:none;}*/
/*#sidebar .menu a{*/
/*  text-decoration:none;*/
/*  color:rgba(230,230,230,0.9);*/
/*  display:block;*/
/*  padding:15px 0;*/
/*  border-bottom:1px solid rgba(100,100,100,0.45);}*/
/*#header{*/
/*  width:100%;*/
/*  height:5%;*/
/*  margin:auto;*/
/*  border-bottom:1px solid #EEE;}*/
/*#header .brand{*/
/*  float:left;*/
/*  line-height:50px;*/
/*  color:#151719;*/
/*  font-size:30px;*/
/*  font-weight:bold;*/
/*  padding-left:20px;}*/
/*#sidebar{*/
/*  !* width:100%; *! !* removed because this would override the 248px above *!*/
/*  text-align:center;}*/
/*#sidebar .menu li:last-child a{border-bottom:none;}*/
/*#sidebar a:hover{*/
/*  background:grey;*/
/*  color:black;}*/
/*.menu-icon{*/
/*  margin:2.5px 5px 0px 0px;*/
/*  padding:10px 15px;*/
/*  border-radius:5px;*/
/*  background:#151719;*/
/*  color:rgba(230,230,230,0.9);*/
/*  cursor:pointer;*/
/*  float:right;}*/
