

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  direction: rtl;
   /* border: 1px solid #333; */
}

.menu {
  height: 117%;
  padding: 30px;
  background:white;


}

.menu ul li p,
.dropdown-toggle {
  color: rgba(1, 1, 1, 1);
  font-weight: bold;
}

ul {
  list-style: none;
  position: relative;
}

ul li a,
.dropdown-toggle {
  display: block;
  width: 15em;
  padding: 5px 5px;
  margin: 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown-toggle:hover
/*ul li a:hover,*/
/*.active-menu,*/
/*ul li a:hover p {*/
{
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
}
.btn:hover{
  text-decoration: none;
  background-color: white;

}

.log-out {
  position: absolute;
  bottom: 0;
  margin-right: 60px;
}
