<div class="row"  style="zoom: 80%;">
  <div class=" position-relative">
    <div class="menu">
      <ul class="nav flex-column" style="height:90vh;">

        <li class="nav-item">
          <a routerLink="/home">
            <p>Home</p>
          </a>
        </li>


        <li class="nav-item">
          <a routerLink="/export-pagination?id/{{1}}">
            <p>Exports</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/import-pagination?id/{{1}}">
            <p>Imports</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/allfiles">
            <p>AllFiles</p>
          </a>
        </li>

            <li><a class="dropdown-item" routerLink="/register"><p>Register</p></a></li>

        <li class="log-out">
          <a href="#">
            <button type="submit"  class="btn btn-success w-100"  style="padding:5px; "  (click)="clearToken()"> Log out </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
