<div class="sidebar">
<div class="row"  style="zoom: 80%;">
  <div class=" position-relative">
    <div class="menu">
      <ul class="nav flex-column" style="height:90vh;">

        <li class="nav-item">
          <a routerLink="/home">
            <p>الصفحة الرئيسية</p>
          </a>
        </li>

<!--        <li class="nav-item">-->
<!--          <a routerLink="/any">-->
<!--            <p>anythind</p>-->
<!--          </a>-->
<!--        </li>-->


        <li class="nav-item">
          <a routerLink="/export-pagination?id/{{1}}">
            <p>الصادر</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/import-pagination?id/{{1}}">
            <p>الوارد</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/allfiles">
            <p>كل الملفات</p>
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/users">
            <p>المستخدمين</p>
          </a>
        </li>

        <li><a class="dropdown-item" routerLink="/register"><p>تسجيل دخول مستخدم جديد</p></a></li>

        <div class="log-out">
          <a href="#">
            <button type="submit"  class="btn btn-outline-light w-100"  style="padding:5px;margin-left:40px "  (click)="clearToken()">
                خروج

              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16" style="margin-right:30px ">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
              </svg>

            </button>
          </a>
        </div>
      </ul>
    </div>
  </div>
</div>
</div>
