<app-navbar></app-navbar>
<div class="row w-auto" style="background-color: var(--bg_main);">
  <div class="d-flex justify-content-between">
    <div class="container rounded bg-white " style="zoom:95%;">
      <form class="row" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="col-md-5 border-right"
             style="direction: rtl;margin-right: 100px;margin-left: 300px;margin-top:60px">
          <div>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h2 class="text-right">بيانات المستخدم</h2>
            </div>
            <div class="row mt-2">
              <div class="col-md-6"><label class="labels">الاسم الاول</label>
                <input type="text" class="form-control"
                       placeholder="الأسم الأول" value="" formControlName="firstName">
              </div>
              <div class="col-md-6"><label class="labels">الاسم الثاني</label>
                <input type="text" class="form-control"
                       value=""
                       placeholder="الأسم الثاني" formControlName="lastName">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12"><label class="labels">اسم المستخدم</label>
                <input type="text" class="form-control"
                       placeholder="اسم المستخدم" formControlName="username">
                <small *ngIf="registerForm.get('username')?.invalid">* مطلوب</small>
              </div>

            </div>

            <div class="row mt-3">
              <div class="col-md-12"><label class="labels">الرقم السري</label>
                <input type="text" class="form-control"
                       id="password" name="password" formControlName="password">
                <small *ngIf="registerForm.get('password')?.invalid">* مطلوب</small>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12"><label class="labels">رقم الموبايل</label>
                <input type="text" class="form-control" formControlName="phone"
                       placeholder="رقم الموبايل"
                       value=""></div>
            </div>

            <div class="mt-5 text-center">
              <button class="btn   profile-button" type="submit">حفظ</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div>
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
