* {
  margin: 0;
  padding: 0;
}
.container{
  margin-left: 9%;
  margin-top: 30px;
  height: 550px;
  width:70%;
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--bg_main);
}

.profile-button {
  background: var(--bg_main);
  width: 150px;
  padding: 5px;

}

.profile-button:hover {
  background: var(--bg_main);
  color: var(--color);
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: var(--bg_main);
  box-shadow: none
}

.back:hover {
  color: var(--bg_main);
  cursor: pointer
}

.labels {
  font-size: 15px;
  margin-right: 5px;
}

.add-experience:hover {
  background:  var(--bg_main);
  color: #fff;
  cursor: pointer;
  border: solid 1px  var(--bg_main);
}
