* {
  margin: 0;
  padding: 0;
}

/*form {*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  margin-left:0px;*/
/*  height: 500px;*/
/*}*/

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  padding-top: 20px;
  flex-direction: column;


}

.wrapper .input-data {
  height: 40px;
  width: 100%;
  position: relative;
  margin: 40px 0;
}

.wrapper .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 23px;
  border-bottom: 2px solid silver;
  direction: rtl
}

.wrapper .input-data textarea {
  border: none;
  font-size: 18px;
  border-bottom: 2px solid silver;
}

.input-data input:focus,
.input-data textarea:focus {
  outline: none;
  border: none;
}

.wrapper .input-data label {
  position: absolute;
  bottom: 1px;
  right: 7px;
  color: #333333;
  pointer-events: none;
  transition: .3s ease;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.wrapper .input-data .underLine {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.wrapper .input-data .underLine::before,
.wrapper .input-data .underLine-text::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #333333;
  transform: scaleX(0);
  transition: all .3s ease-in-out;
  margin-top: 20px;
}

.wrapper .input-data .underLine-text::before {
  bottom: -123px;
}

.input-data input:focus~.underLine::before,
.input-data input:valid~.underLine::before,
.input-data textarea:focus~.underLine-text::before,
.input-data textarea:valid~.underLine-text::before {
  transform: scaleX(1);
  margin-top: 0;
}

.input-container {
  width: 45%;
}

ul li a,
.dropdown-toggle {
  display: block;
  width: 3em;
  padding: 5px;

  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 20px;
}



ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #333333 !important;
  color: white!important;
}

ngb-pagination ::ng-deep a {
  color: black !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
  border-color: black;
  background-color: lightgrey;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.1rem dimgrey;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #333333;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #333333;
}
