<app-navbar></app-navbar>
<div class="row">
  <div class="col-10" style="background-color:var(--bg_main)">
    <form class="col-10" [formGroup]="mandateForm" (ngSubmit)="onSubmit()">
      <div class="wrapper" style="direction: ltr;">
        <legend class="text-center">ادخال المنتدبين</legend>

        <div class="d-flex">
          <div class="input-data" style="width:20%; margin-left:auto;">
            <input type="text" id="department" formControlName="department" required>
            <label for="department">القسم</label>
          </div>
          <div class="input-data" style="width:20%; margin-left:auto;">
            <input type="text" id="name" formControlName="name" required>
            <label for="name">اسم عضو هيئة التدريس</label>
          </div>
          <div class="input-data" style="width:20%; margin-left:auto;">
            <input type="text" id="degree" formControlName="degree" required>
            <label for="degree">الدرجة</label>
          </div>
          <div class="input-data" style="width:20%; margin-left:auto;">
            <input type="text" id="deputationUniversity" formControlName="deputationUniversity" required>
            <label for="deputationUniversity">الكلية/الجامعة المنتسب إليها</label>
          </div>
        </div>

        <div class="d-flex">
          <div class="MandatePeriod">
            <div class="input-data" style="width:96%; margin-left: auto;">
              <label>فترة الإنتداب</label>
            </div>
            <input type="radio" formControlName="deputationPeriod" value="1"> الترم الأول
            <input type="radio" formControlName="deputationPeriod" value="2"> الترم الثاني
            <input type="radio" formControlName="deputationPeriod" value="3"> العام كامل
          </div>
          <div class="weekDays-selector" style="margin-left: 100px">
            <div class="input-data" style="width:96%; margin-left: auto;">
              <label>أيام الإنتداب</label>
            </div>
            <input type="checkbox" id="weekday-1" (change)="onWeekdayChange($event, 1)"/>
            <label for="weekday-1">السبت</label>
            <input type="checkbox" id="weekday-2" (change)="onWeekdayChange($event, 2)"/>
            <label for="weekday-2">الأحد</label>
            <input type="checkbox" id="weekday-3" (change)="onWeekdayChange($event, 3)"/>
            <label for="weekday-3">الأثنين</label>
            <input type="checkbox" id="weekday-4" (change)="onWeekdayChange($event, 4)"/>
            <label for="weekday-4">الثلاثاء</label>
            <input type="checkbox" id="weekday-5" (change)="onWeekdayChange($event, 5)"/>
            <label for="weekday-5">الأربعاء</label>
            <input type="checkbox" id="weekday-6" (change)="onWeekdayChange($event, 6)"/>
            <label for="weekday-6">الخميس</label>
          </div>
        </div>

        <div style="margin-top: 10px">
          <label style="margin-left: 90%;font-weight: bold">قرار مجلس القسم</label>
          <div class="d-flex">
            <div class="d-flex" style="width:30%;">
              <input type="radio" formControlName="departmentAccept" value="0" style="margin-left: 150px">لا
              <input type="radio" formControlName="departmentAccept" value="1" style="margin-left: 30px"> نعم
            </div>
            <div class="input-data" style="width:30%; margin-left:auto;">
              <input type="date" id="departmentDate" formControlName="departmentDate" required>
              <label for="departmentDate">بتاريخ</label>
            </div>
            <div class="input-data" style="width:15%; margin-left:auto;">
              <input type="number" id="departmentSpecialNum" formControlName="departmentSpecialNum" required>
              <label for="departmentSpecialNum">خاص رقم</label>
            </div>
            <div class="input-data" style="width:15%; margin-left:auto;">
              <input type="number" id="departmentRecordNum" formControlName="departmentRecordNum" required>
              <label for="departmentRecordNum">محضر رقم</label>
            </div>
          </div>
        </div>

        <div style="margin-top: 10px">
          <label style="font-weight: bold;margin-left: 90%">قرار مجلس الكلية</label>
          <div class="d-flex">
            <div class="d-flex" style="width:30%;">
              <input type="radio" formControlName="facultyAccept" value="0" style="margin-left: 150px">لا
              <input type="radio" formControlName="facultyAccept" value="1" style="margin-left: 30px"> نعم
            </div>
            <div class="input-data" style="width:30%; margin-left:auto;">
              <input type="date" id="facultyDate" formControlName="facultyDate" required>
              <label for="facultyDate">بتاريخ</label>
            </div>
            <div class="input-data" style="width:15%; margin-left:auto;">
              <input type="number" id="facultySpecialNum" formControlName="facultySpecialNum" required>
              <label for="facultySpecialNum">خاص رقم</label>
            </div>
            <div class="input-data" style="width:15%; margin-left:auto;">
              <input type="number" id="facultyRecordNum" formControlName="facultyRecordNum" required>
              <label for="facultyRecordNum">محضر رقم</label>
            </div>
          </div>
        </div>

        <div style="margin-top: 10px">
          <label style="margin-left: 90%;font-weight: bold">قرار رئيس الجامعة</label>
          <div class="d-flex">
            <div class="d-flex" style="width:30%;">
              <input type="radio" formControlName="universityAccept" value="0" style="margin-left: 150px">لا
              <input type="radio" formControlName="universityAccept" value="1" style="margin-left: 30px"> نعم
            </div>
            <div class="input-data" style="width:30%; margin-left:auto;">
              <input type="date" id="universityDate" formControlName="universityDate" required>
              <label for="universityDate">بتاريخ</label>
            </div>
            <div class="input-data" style="width:30%; margin-left:auto;">
              <input type="number" id="universityRecordNum" formControlName="universityRecordNum" required>
              <label for="universityRecordNum">وارد رقم</label>
            </div>
          </div>
        </div>

        <div class="d-flex">
          <button type="submit" class="btn" [disabled]="!mandateForm.valid"
                  style="width:100px; padding:1px;color: var(--color);background: var(--bg_hover);font-size:22px;margin-right:10%">
            حفظ
          </button>
          <div class="input-data" style="width:100%; margin:auto;">
            <input type="text" id="notes" formControlName="notes">
            <label for="notes">ملاحظات</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>
