body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --bg: #ffffff;
  --bg_main: #efefef;
  --bg_hover: #ccc4c2;
  --color: black;
  --color1: white;
  --color2: #eee;
  --color3:white;
  --color4: gray;
  transition: all 0.5s ease;

  /**table design */
  --tableOod: #dee2e6;
  --tableScroll: #c5ced7;
  --tableHead: #c5ced7;
}
