body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --bg: #ffffff;
  --bg_main:#F7F7F8;
  --bg_hover: #188752;
  --color: black;
  --color1: #ddd;
  --color2:white;
  --color3:#188752;
  transition: all 0.5s ease;
}

/* .dark{
  --bg: #555;
    --bg_main: #666;
    --bg_hover: rgba(0, 0, 0, 0.5);
    --color: #fff;
    --color1: #555;
    --color2:#444;
}
.light{
  --bg: #fff;
  --bg_main:#f9f9f9;
  --bg_hover: #696666;
  --color: #333;
    --color1: #ddd;
    --color2:#eee;
} */


