body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --bg: #ffffff;
  --bg_main: #dee2e6;
  --bg_hover: #ccc4c2;
  --color: black;
  --color1: white;
  --color2: #eee;
  transition: all 0.5s ease;

  /**table design */
  --tableOod: #dee2e6;
  --tableScroll: #faf1f2;
  --tableHead: #c5ced7;
}

/* .dark{
  --bg: #555;
    --bg_main: #666;
    --bg_hover: rgba(0, 0, 0, 0.5);
    --color: #fff;
    --color1: #555;
    --color2:#444;
}
.light{
  --bg: #fff;
  --bg_main:#f9f9f9;
  --bg_hover: #696666;
  --color: #333;
    --color1: #ddd;
    --color2:#eee;
} */
