<app-navbar></app-navbar>
<div class="row">
  <div class="col-2" style="background-color: var(--bg_main);"></div>
  <div class="col-8" style="background-color:var(--bg_main)">
    <form class="col-8">
        <div class="wrapper " style="direction: ltr;">
            <legend class="text-center">تعديل دليل الاتصال بأعضاء هيئة التدريس</legend>

            <div class="d-flex">
              <div class="input-data" style="width:30%; margin-left:auto;">
                <input type="number" required>
                <label >القيد</label>
               
              </div>
    
              <div class="input-data" style="width:30%; margin-left:auto;">
                <input type="text"required>
                <label >الأسم</label>
    
              </div>
              <div class="input-data" style="width:30%; margin-left:auto;">
                <input type="text"required>
                <label >الوظيفة</label>
              </div>
            </div>
            <div class="input-data" style="width:96%; margin-left: auto;">
              <input cols="40" rows="1"  required>
              <label>القسم</label>
    
            </div>
            <div class="d-flex">
              <div class="input-data" style="width:40%; margin:auto;">
                <input type="text" required>
                <label>الموبايل</label>
    
              </div>
              <div class="input-data" style="width:45%; margin-left:auto;">
                <input type="text" required>
                <label>العنوان</label>
              </div>
            </div>
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="text" required>
              <label>الايميل</label>
            </div>
            <div class="input-data" style="width:45%; margin-left:auto;">
              <input type="text" required>
              <label for="notes">الملاحظات</label>
            </div>

              <button type="submit" class="btn w-25" style="background-color: var(--bg_main); position: relative; top:20px">حفظ</button>
        </div>
    </form>
  </div>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>
