<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>
<div class="row">
  <ngb-carousel class="col-4">
    <ng-template ngbSlide *ngFor="let item of paths;let i=index">
      <div class="carousel-wrapper" style="margin-top: 20px;margin-left: 20px">
        <img src="{{item}}" style="height:83vh">
        <button *ngIf="roleOfUser=='admin'||roleOfUser=='manager'"
                type="submit" (click)="deleteImage(i)" class="btn btn-outline-light"
                style="width:60px;margin:5px; bottom: 0">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
               viewBox="0 0 16 16" style="color: red;margin-left: 40px">
            <path
              d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
          </svg>

        </button>
      </div>
    </ng-template>
  </ngb-carousel>
  <form class="col-6" style="zoom:55%;" [formGroup]="showImport">
    <div class="wrapper">
      <legend class="text-center" style="font-weight: bolder;font-size: 30px"> الخطابات الواردة (0/1)</legend>

      <div style="display: flex;  justify-content: space-between;">
        <div class="input-container ">

          <div class="input-data">
            <input type="text" required readonly id="numberOfAttachments" formControlName="numberOfAttachments">
            <label for="numberOfAttachments">عدد المرفقات</label>
          </div>
          <div class="input-data" style="top:55px">
            <input type="text" required readonly id="sender" formControlName="sender">
            <label for="sender">الجهة الوارد منها الخطاب</label>
          </div>
        </div>
        <div class="input-container">
          <div class="d-flex">
            <div class="input-data" style="width: 65%">
              <input type="text" required readonly id="incomeDate" formControlName="incomeDate">
              <label for="incomeDate">تاريخ الورود</label>
            </div>
            <div class="input-data " style="width:30%; margin-left:auto;">
              <input type="number" required readonly id="no" formControlName="no">
              <label for="no">رقم القيد</label>
            </div>
          </div>
          <div class="d-flex">
            <div class="input-data" style="width: 55%">
              <input type="Date" required readonly id="incomingLetterDate" formControlName="incomingLetterDate">
              <label for="incomingLetterDate">تاريخه</label>
            </div>
            <div class="input-data " style="width:40%; margin-left:auto;">
              <input type="number" required readonly id="incomingLetterNumber" formControlName="incomingLetterNumber">
              <label for="incomingLetterNumber">رقم الخطاب الوارد</label>
            </div>
          </div>
        </div>
      </div>
      <div class="input-data" style="bottom:20px">
        <input style="height:60px;" readonly required id="summary"
               formControlName="summary">
        <label for="summary" style="margin-bottom: 20px">ملخص الخطاب</label>
      </div>

      <div style="display: flex;  justify-content: space-between;">
        <div class="input-container position-relative" style="bottom:60px">
          <div class="input-data">
            <input type="text" required readonly id="responseSide" formControlName="responseSide">
            <label for="responseSide" style="margin-bottom: 30px">الجهة الصادر اليها </label>
          </div>
          <div class="input-data">
            <input type="Date" required readonly id="recipientDate" formControlName="recipientDate">
            <label for="recipientDate">تاريخ الاستلام</label>
          </div>

          <div class="input-data" style="width:35%; margin-left:auto;">
            <input type="date" required readonly id="expectResponseDate" formControlName="expectResponseDate">
            <label for="expectResponseDate">التاريخ المتوقع للرد</label>
          </div>


        </div>
        <div class="input-container position-relative" style="bottom:60px">
          <div style="display: flex;">
            <div class="input-data w-50">
              <input type="Date" required readonly id="responseDate" formControlName="responseDate">
              <label for="responseDate">تاريخ الرد</label>
            </div>
            <div class="input-data" style="width:35%; margin-left:auto;">
              <input type="text" required readonly id="responseNumber" formControlName="responseNumber">
              <label for="responseNumber">الرد</label>
            </div>
          </div>
          <div class="input-data" style="bottom: 55px;">
            <input type="text" required readonly id="recipientName" formControlName="recipientName">
            <label for="recipientName">المستلم</label>
          </div>
          <div class="input-data" style="bottom: 55px;">
            <input type="text" required readonly id="num" formControlName="num">
            <label for="num">رقم الملف</label>
          </div>
          <div class="input-data" style="bottom: 55px;">
            <input id="AddingAttachment" type="file" multiple name="img" accept="image/*"
                   (change)="onImageSelected($event)"
                   style="margin-top: 20px;margin-bottom:40px;font-size:30px">
            <label for="AddingAttachment" style="font-size: 25px;margin-top: 10px">اضافة مرفق</label>
          </div>
        </div>
      </div>
      <div class="input-data" style="bottom:150px;margin-left: 32% ">

        <button  *ngIf="roleOfUser=='admin'||roleOfUser=='manager'"
                type="submit" class="btn "
                style="width:150px; padding:10px;margin: 8px;color: white;background: #333333;font-size:25px"
                routerLink="/updateimport/{{page}}">
          تعديل
        </button>
        <button type="submit" class="btn  "
                style="width:150px; padding:10px;margin: 8px;color: white;background: #333333;font-size:25px"
                routerLink="/addimportfile">
          اضافة
        </button>

        <button type="submit" class="btn  "
                style="width:150px; padding:10px;margin: 8px;color: white;background: #333333;font-size:25px"
                routerLink="/add-import-response/{{page}}">
          اضافه رد
        </button>

        <div class="col-md-9 pag" style="margin-top:50px;bottom:0px;margin-left: 12%">
          <ngb-pagination [(page)]="page" [pageSize]="size" [collectionSize]="pageLength" (pageChange)="change()"
                          [maxSize]="1" [boundaryLinks]="true" [ellipses]="false" [rotate]="false"
                          routerLink="/imports-pagination?id/{{page}}">
          </ngb-pagination>
        </div>

      </div>
    </div>
  </form>

  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>
