<app-navbar></app-navbar>
<div class="row">
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
    <form class="col-8" style="zoom: 80%" #registerForm="ngForm" (ngSubmit)="createUser(registerForm.value)">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
    </form>
<!--  <form class="col-8" style="zoom: 80%" #registerForm="ngForm" (ngSubmit)="createUser(registerForm.value)">-->

<!--    <div class="wrapper">-->
<!--      <legend class="text-center">تسجيل مستخدم جديد </legend>-->

<!--      <div style="display: flex;  justify-content: space-between;">-->
<!--        <div class="input-container">-->
<!--          <div class="input-data">-->
<!--            <input type="text" required  id="firstName" name="firstName" ngModel>-->
<!--            <div class="underLine"></div>-->
<!--            <label for="firstName">الاسم الاول</label>-->
<!--          </div>-->

<!--          <div class="input-data">-->
<!--            <input  cols="40" rows="1" required id="lastName" name="lastName" ngModel>-->
<!--            <div class="underLine-text"></div>-->
<!--            <label for="lastName"> الاسم الثاني</label>-->
<!--          </div>-->

<!--          <button type="submit"  class="btn btn-success w-100"  style="padding:10px;">    حفظ  </button>-->

<!--        </div>-->


<!--        <div class="input-container">-->

<!--          <div class="input-data">-->
<!--            <input type="text" required  id="username"name="username" ngModel>-->
<!--            <div class="underLine"></div>-->
<!--            <label for="username">اسم المستخدم</label>-->
<!--          </div>-->

<!--          <div class="input-data">-->
<!--            <input type="number" required id="password" name="password"ngModel>-->
<!--            <div class="undlerLine"></div>-->
<!--            <label for="password">الرقم السري</label>-->
<!--          </div>-->

<!--          <input type="file" name="img" accept="image/*" (change)="onImageSelected($event)">-->
<!--          <label >اختار الصورة:</label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
</div>

