<app-navbar></app-navbar>
<div class="row">
  <div class="col-2"></div>
  <form class="col-8" style="zoom: 80%" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="wrapper">
      <legend class="text-center">تسجيل مستخدم جديد</legend>

      <div style="display: flex;  justify-content: space-between;">
        <div class="input-container">
          <div class="input-data">
            <input type="text" required id="firstName" name="firstName" formControlName="firstName">
            <div class="underLine"></div>
            <label for="firstName">الاسم الاول</label>
            <small *ngIf="registerForm.get('firstName')?.invalid">* مطلوب</small>

          </div>

          <div class="input-data">
            <input type="text" required id="lastName" name="lastName" formControlName="lastName">
            <div class="underLine-text"></div>
            <label for="lastName"> الاسم الثاني</label>
            <small *ngIf="registerForm.get('lastName')?.invalid">* مطلوب</small>

          </div>
        </div>

        <div class="input-container">
          <div class="input-data">
            <input type="text" required id="username" name="username" formControlName="username">
            <div class="underLine"></div>
            <label for="username">اسم المستخدم</label>
            <small *ngIf="registerForm.get('username')?.invalid">* مطلوب</small>

          </div>

          <div class="input-data">
            <input type="password" required id="password" name="password" formControlName="password">
            <div class="underLine"></div>
            <label for="password">الرقم السري</label>
            <small *ngIf="registerForm.get('password')?.invalid">* مطلوب</small>

          </div>
        </div>
      </div>
      <button type="submit" class="btn" style="width:100px; padding:1px;color: white;background: #333333;font-size:22px;margin-right:10%"> حفظ
      </button>
    </div>
  </form>
  <div class="col-2 position-relative">
    <app-sidebar></app-sidebar>
  </div>
</div>
